In [22]:
import pandas as pd
import numpy as np
import datetime

In [8]:
#load data from data files and place into panda dataframes
custOrders = pd.read_csv('data/customer_orders.csv', low_memory=False)
temp2 = pd.read_csv('data/item_ingredients.csv', low_memory=False)

temp.head(10)
#temp2.head(10)

,customer_id,opt_in,birthday,gender,order_id,weather,order_timestamp,item_id,item_name,item_description,item_image,price,taste_profile,item_type,customization_id,customization
0,19,True,2003-11-01,male,5,snowy,2019-10-16 04:11:47,640405112,Double Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,3.29,savory,burger,33.0,no pickles
1,7,True,1993-08-23,male,22,snowy,2016-05-01 23:35:57,640405085,Double Hamburger,Our top-quality hamburgers are made from hormo...,NaN,2.99,savory,burger,24.0,no mayonnaise
2,20,True,1995-02-21,male,13,snowy,2017-07-04 12:53:59,640404963,Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,2.29,savory,burger,8.0,no ketchup
3,20,True,1995-02-21,male,13,snowy,2017-07-04 12:53:59,640404963,Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,2.29,savory,burger,14.0,no tomatoes
4,19,True,2003-11-01,male,5,snowy,2019-10-16 04:11:47,640405112,Double Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,3.29,savory,burger,29.0,no ketchup
5,14,True,2005-12-23,male,28,sunny,2019-11-15 09:17:38,640405172,Double Bacon Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,3.79,savory,burger,47.0,no lettuce
6,19,True,2003-11-01,male,5,snowy,2019-10-16 04:11:47,640405112,Double Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,3.29,savory,burger,31.0,no mayonnaise
7,14,True,2005-12-23,male,28,sunny,2019-11-15 09:17:38,640405172,Double Bacon Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,3.79,savory,burger,49.0,no onions
8,12,True,2003-03-22,other,7,rainy,2020-01-28 06:30:59,640405348,Coffee,Fresh coffee made daily.,NaN,2.00,bitter,beverage,NaN,NaN
9,13,True,1993-11-19,female,27,rainy,2020-07-20 21:12:55,640405172,Double Bacon Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,3.79,savory,burger,NaN,NaN

In [5]:
#turn off panda max column display limit
print(pd.options.display.max_columns)
pd.options.display.max_columns = None

def dropCol(dataFrame, colName):
    return dataFrame.drop(colName, axis=1)
#temp = temp.drop('gender', axis=1)

20

In [6]:
#convert the boolean values into integers in the ingredients dataframe
#also print column names of dataframe
for col in temp2.columns:
    print(col)
    temp2[col] = temp2[col].astype(int)

item_id
has_ketchup
has_mustard
has_mayonnaise
has_lettuce
has_pickles
has_onions
has_tomatoes
has_cheese
has_beef
has_bun
has_salt
has_potatoes
has_coffee
has_milk
has_sugar
has_soda
has_wheat
has_ice_cream
has_bacon

In [7]:
#print the binary version of the item-ingredient dataframe
temp2.head()

,item_id,has_ketchup,has_mustard,has_mayonnaise,has_lettuce,has_pickles,has_onions,has_tomatoes,has_cheese,has_beef,has_bun,has_salt,has_potatoes,has_coffee,has_milk,has_sugar,has_soda,has_wheat,has_ice_cream,has_bacon
0,640405339,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0
1,640405380,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2,640405058,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0
3,640405172,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,1
4,640405296,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0

In [9]:
custOrders["order_timestamp"]=pd.to_datetime(custOrders["order_timestamp"])
custOrders.head()

,customer_id,opt_in,birthday,gender,order_id,weather,order_timestamp,item_id,item_name,item_description,item_image,price,taste_profile,item_type,customization_id,customization
0,19,True,2003-11-01,male,5,snowy,2019-10-16 04:11:47,640405112,Double Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,3.29,savory,burger,33.0,no pickles
1,7,True,1993-08-23,male,22,snowy,2016-05-01 23:35:57,640405085,Double Hamburger,Our top-quality hamburgers are made from hormo...,NaN,2.99,savory,burger,24.0,no mayonnaise
2,20,True,1995-02-21,male,13,snowy,2017-07-04 12:53:59,640404963,Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,2.29,savory,burger,8.0,no ketchup
3,20,True,1995-02-21,male,13,snowy,2017-07-04 12:53:59,640404963,Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,2.29,savory,burger,14.0,no tomatoes
4,19,True,2003-11-01,male,5,snowy,2019-10-16 04:11:47,640405112,Double Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,3.29,savory,burger,29.0,no ketchup

In [10]:
type(temp3["order_timestamp"][0])

NameError: name 'temp3' is not defined

In [12]:
custOrders.head()

,customer_id,opt_in,birthday,gender,order_id,weather,order_timestamp,item_id,item_name,item_description,item_image,price,taste_profile,item_type,customization_id,customization,order_date,order_year,order_month,order_day,order_hour,order_minute,order_second
0,19,True,2003-11-01,male,5,snowy,2019-10-16 04:11:47,640405112,Double Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,3.29,savory,burger,33.0,no pickles,2019-10-16,2019,10,16,4,11,47
1,7,True,1993-08-23,male,22,snowy,2016-05-01 23:35:57,640405085,Double Hamburger,Our top-quality hamburgers are made from hormo...,NaN,2.99,savory,burger,24.0,no mayonnaise,2016-05-01,2016,5,1,23,35,57
2,20,True,1995-02-21,male,13,snowy,2017-07-04 12:53:59,640404963,Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,2.29,savory,burger,8.0,no ketchup,2017-07-04,2017,7,4,12,53,59
3,20,True,1995-02-21,male,13,snowy,2017-07-04 12:53:59,640404963,Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,2.29,savory,burger,14.0,no tomatoes,2017-07-04,2017,7,4,12,53,59
4,19,True,2003-11-01,male,5,snowy,2019-10-16 04:11:47,640405112,Double Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,3.29,savory,burger,29.0,no ketchup,2019-10-16,2019,10,16,4,11,47

In [13]:
#TODO - drop columns that are optional and come in with opt-ins
#opt_in, birthday, gender(anything else?)
#customization, customization_id
#item_image, 

#? unsure ----> item_name, item_description
#Think need more item related features, 

#function converts a cyclical data point(like time) into a 2 point representation on a circle 
def cycleEmbed(maximum, reading):
    maxi=maximum

    sin = np.sin(2*np.pi*reading/maxi)
    cos = np.cos(2*np.pi*reading/maxi)
    return (sin, cos)

for i in range(23):
    print(cycleEmbed(20, i))

(0.0, 1.0)
(0.3090169943749474, 0.9510565162951535)
(0.5877852522924731, 0.8090169943749475)
(0.8090169943749475, 0.5877852522924731)
(0.9510565162951535, 0.30901699437494745)
(1.0, 6.123233995736766e-17)
(0.9510565162951536, -0.30901699437494734)
(0.8090169943749475, -0.587785252292473)
(0.5877852522924732, -0.8090169943749473)
(0.3090169943749475, -0.9510565162951535)
(1.2246467991473532e-16, -1.0)
(-0.3090169943749469, -0.9510565162951538)
(-0.587785252292473, -0.8090169943749475)
(-0.8090169943749473, -0.5877852522924732)
(-0.9510565162951535, -0.30901699437494756)
(-1.0, -1.8369701987210297e-16)
(-0.9510565162951536, 0.30901699437494723)
(-0.8090169943749476, 0.5877852522924729)
(-0.5877852522924734, 0.8090169943749473)
(-0.3090169943749477, 0.9510565162951535)
(-2.4492935982947064e-16, 1.0)
(0.3090169943749472, 0.9510565162951536)
(0.5877852522924722, 0.8090169943749481)

In [14]:
#function takes a column name, dataframe, and then converts the column in the dataframe into a integers, 
#where each integer represents a unique value from that column
def enumerateCol(colName, dataFrame):
    count=0
    diction={}

    for i, row in dataFrame.iterrows():
        currentVal=row.loc[colName]
        if currentVal in diction:
            dataFrame.at[i, colName] = diction[currentVal]
        else:
            diction[currentVal]=count
            count+=1
            dataFrame.at[i, colName] = diction[currentVal]

In [63]:
#dropCol(temp, "item_image")

custOrders.head(15)

,customer_id,opt_in,birthday,gender,order_id,weather,order_timestamp,item_id,item_name,item_description,price,taste_profile,item_type,customization_id,customization
0,19,True,2003-11-01,0,5,snowy,2019-10-16 04:11:47,640405112,Double Cheeseburger,Our top-quality hamburgers are made from hormo...,3.29,savory,burger,33.0,no pickles
1,7,True,1993-08-23,0,22,snowy,2016-05-01 23:35:57,640405085,Double Hamburger,Our top-quality hamburgers are made from hormo...,2.99,savory,burger,24.0,no mayonnaise
2,20,True,1995-02-21,0,13,snowy,2017-07-04 12:53:59,640404963,Cheeseburger,Our top-quality hamburgers are made from hormo...,2.29,savory,burger,8.0,no ketchup
3,20,True,1995-02-21,0,13,snowy,2017-07-04 12:53:59,640404963,Cheeseburger,Our top-quality hamburgers are made from hormo...,2.29,savory,burger,14.0,no tomatoes
4,19,True,2003-11-01,0,5,snowy,2019-10-16 04:11:47,640405112,Double Cheeseburger,Our top-quality hamburgers are made from hormo...,3.29,savory,burger,29.0,no ketchup
5,14,True,2005-12-23,0,28,sunny,2019-11-15 09:17:38,640405172,Double Bacon Cheeseburger,Our top-quality hamburgers are made from hormo...,3.79,savory,burger,47.0,no lettuce
6,19,True,2003-11-01,0,5,snowy,2019-10-16 04:11:47,640405112,Double Cheeseburger,Our top-quality hamburgers are made from hormo...,3.29,savory,burger,31.0,no mayonnaise
7,14,True,2005-12-23,0,28,sunny,2019-11-15 09:17:38,640405172,Double Bacon Cheeseburger,Our top-quality hamburgers are made from hormo...,3.79,savory,burger,49.0,no onions
8,12,True,2003-03-22,1,7,rainy,2020-01-28 06:30:59,640405348,Coffee,Fresh coffee made daily.,2.00,bitter,beverage,NaN,NaN
9,13,True,1993-11-19,2,27,rainy,2020-07-20 21:12:55,640405172,Double Bacon Cheeseburger,Our top-quality hamburgers are made from hormo...,3.79,savory,burger,NaN,NaN
10,5,True,1992-04-24,1,3,cloudy,2016-01-22 07:01:31,640405085,Double Hamburger,Our top-quality hamburgers are made from hormo...,2.99,savory,burger,NaN,NaN
11,10,True,1990-12-18,0,19,rainy,2018-09-25 00:57:21,640405355,Small Drink,NaN,1.59,chilling,beverage,NaN,NaN
12,5,True,1992-04-24,1,24,sunny,2017-03-26 06:58:44,640405389,Small Shake,NaN,2.09,sweet,beverage,NaN,NaN
13,5,True,1992-04-24,1,10,snowy,2015-03-08 00:49:21,640405348,Coffee,Fresh coffee made daily.,2.00,bitter,beverage,NaN,NaN
14,4,True,2002-07-19,0,23,rainy,2018-06-14 05:35:20,640405315,Large Fries,Our french fries are made to order onsite from...,2.09,savory,side,NaN,NaN

In [11]:
#split timestamp in "order_timestamp" into a number of individual columns for each part of the timestamp
custOrders["order_date"]=custOrders["order_timestamp"].dt.date
custOrders["order_year"]=custOrders["order_timestamp"].dt.year
custOrders["order_month"]=custOrders["order_timestamp"].dt.month
custOrders["order_day"]=custOrders["order_timestamp"].dt.day

custOrders["order_hour"]=custOrders["order_timestamp"].dt.hour
custOrders["order_minute"]=custOrders["order_timestamp"].dt.minute
custOrders["order_second"]=custOrders["order_timestamp"].dt.second

#create a column for the weekday(mon,tues, weds, ...etc)
#must convert to weekday below
custOrders["order_weekday"]=custOrders["order_day"]

for i, row in custOrders.iterrows():
    custOrders.at[i, "order_weekday"] = datetime.datetime(row["order_year"], row["order_month"],row["order_day"],0,0,0).weekday()

In [39]:
#drop columns which are optional(not all customers will use it), clearly not useful, or redundant

#custOrders = custOrders.drop("item_image", axis=1)
custOrders = custOrders.drop("order_timestamp", axis=1, errors='ignore') #information moved into other columns added above
custOrders = custOrders.drop("customization_id", axis=1, errors='ignore') #customization is no in every order
custOrders = custOrders.drop("customization", axis=1, errors='ignore')
custOrders = custOrders.drop("opt_in", axis=1, errors='ignore')
custOrders = custOrders.drop("item_description", axis=1, errors='ignore')

custOrders = custOrders.drop("birthday", axis=1, errors='ignore') #check if part of opt in
custOrders = custOrders.drop("gender", axis=1, errors='ignore') #check if part of opt in
#custOrders = custOrders.drop("item_name", axis=1) #reduntance since we have item id? we need 

custOrders = custOrders.drop("order_date", axis=1, errors='ignore') #check if part of opt in


custOrders.head(10)

,customer_id,order_id,weather,item_id,item_name,price,taste_profile,item_type,order_year,order_month,order_day,order_hour,order_minute,order_second,order_weekday
0,19,5,snowy,640405112,Double Cheeseburger,3.29,savory,burger,2019,10,16,4,11,47,2
1,7,22,snowy,640405085,Double Hamburger,2.99,savory,burger,2016,5,1,23,35,57,6
2,20,13,snowy,640404963,Cheeseburger,2.29,savory,burger,2017,7,4,12,53,59,1
3,20,13,snowy,640404963,Cheeseburger,2.29,savory,burger,2017,7,4,12,53,59,1
4,19,5,snowy,640405112,Double Cheeseburger,3.29,savory,burger,2019,10,16,4,11,47,2
5,14,28,sunny,640405172,Double Bacon Cheeseburger,3.79,savory,burger,2019,11,15,9,17,38,4
6,19,5,snowy,640405112,Double Cheeseburger,3.29,savory,burger,2019,10,16,4,11,47,2
7,14,28,sunny,640405172,Double Bacon Cheeseburger,3.79,savory,burger,2019,11,15,9,17,38,4
8,12,7,rainy,640405348,Coffee,2.00,bitter,beverage,2020,1,28,6,30,59,1
9,13,27,rainy,640405172,Double Bacon Cheeseburger,3.79,savory,burger,2020,7,20,21,12,55,0

In [40]:
#custOrders will represet the data before it is only numbers
custOrders2=custOrders.copy()

,customer_id,order_id,weather,item_id,item_name,price,taste_profile,item_type,order_year,order_month,order_day,order_hour,order_minute,order_second,order_weekday
0,19,5,snowy,640405112,Double Cheeseburger,3.29,savory,burger,2019,10,16,4,11,47,2
1,7,22,snowy,640405085,Double Hamburger,2.99,savory,burger,2016,5,1,23,35,57,6
2,20,13,snowy,640404963,Cheeseburger,2.29,savory,burger,2017,7,4,12,53,59,1
3,20,13,snowy,640404963,Cheeseburger,2.29,savory,burger,2017,7,4,12,53,59,1
4,19,5,snowy,640405112,Double Cheeseburger,3.29,savory,burger,2019,10,16,4,11,47,2

In [46]:
custOrders2.head(10)

,customer_id,order_id,weather,item_id,item_name,price,taste_profile,item_type,order_year,order_month,order_day,order_hour,order_minute,order_second,order_weekday
0,19,5,0,640405112,0,3.29,0,0,2019,10,16,4,11,47,2
1,7,22,0,640405085,1,2.99,0,0,2016,5,1,23,35,57,6
2,20,13,0,640404963,2,2.29,0,0,2017,7,4,12,53,59,1
3,20,13,0,640404963,2,2.29,0,0,2017,7,4,12,53,59,1
4,19,5,0,640405112,0,3.29,0,0,2019,10,16,4,11,47,2
5,14,28,1,640405172,3,3.79,0,0,2019,11,15,9,17,38,4
6,19,5,0,640405112,0,3.29,0,0,2019,10,16,4,11,47,2
7,14,28,1,640405172,3,3.79,0,0,2019,11,15,9,17,38,4
8,12,7,2,640405348,4,2.00,1,1,2020,1,28,6,30,59,1
9,13,27,2,640405172,3,3.79,0,0,2020,7,20,21,12,55,0

In [44]:
#Enumerate columns that are categorical
enumerateCol("weather", custOrders2)
enumerateCol("item_name", custOrders2)
enumerateCol("taste_profile", custOrders2)
enumerateCol("item_type", custOrders2)

In [59]:
#embed time values to cycles on a circle
def timeEmbed(df, colName, maxi):
    name1=colName+"1"
    name2=colName+"2"
    print(name1)
    print(name2)
    df[name1]=None
    df[name2]=None
    for i, row in df.iterrows():
        temp=cycleEmbed(maxi, row[colName])
        df.at[i, name1]=temp[0]
        df.at[i, name2]=temp[1]

#convert every time based column into a point on a circle with timeEmbed()    
timeEmbed(custOrders2, "order_month", 12)
timeEmbed(custOrders2, "order_day", 31)
timeEmbed(custOrders2, "order_hour", 24)
timeEmbed(custOrders2, "order_minute", 60)
timeEmbed(custOrders2, "order_second", 60)
timeEmbed(custOrders2, "order_weekday", 7)

order_month1
order_month2
order_day1
order_day2
order_hour1
order_hour2
order_minute1
order_minute2
order_second1
order_second2
order_weekday1
order_weekday2

In [60]:
custOrders2.head(10)

,customer_id,order_id,weather,item_id,item_name,price,taste_profile,item_type,order_year,order_month,order_day,order_hour,order_minute,order_second,order_weekday,order_month1,order_month2,order_day1,order_day2,order_hour1,order_hour2,order_minute1,order_minute2,order_second1,order_second2,order_weekday1,order_weekday2
0,19,5,0,640405112,0,3.29,0,0,2019,10,16,4,11,47,2,-0.866025,0.5,-0.101168,-0.994869,0.866025,0.5,0.913545,0.406737,-0.978148,0.207912,0.974928,-0.222521
1,7,22,0,640405085,1,2.99,0,0,2016,5,1,23,35,57,6,0.5,-0.866025,0.201299,0.97953,-0.258819,0.965926,-0.5,-0.866025,-0.309017,0.951057,-0.781831,0.62349
2,20,13,0,640404963,2,2.29,0,0,2017,7,4,12,53,59,1,-0.5,-0.866025,0.724793,0.688967,0.0,-1.0,-0.669131,0.743145,-0.104528,0.994522,0.781831,0.62349
3,20,13,0,640404963,2,2.29,0,0,2017,7,4,12,53,59,1,-0.5,-0.866025,0.724793,0.688967,0.0,-1.0,-0.669131,0.743145,-0.104528,0.994522,0.781831,0.62349
4,19,5,0,640405112,0,3.29,0,0,2019,10,16,4,11,47,2,-0.866025,0.5,-0.101168,-0.994869,0.866025,0.5,0.913545,0.406737,-0.978148,0.207912,0.974928,-0.222521
5,14,28,1,640405172,3,3.79,0,0,2019,11,15,9,17,38,4,-0.5,0.866025,0.101168,-0.994869,0.707107,-0.707107,0.978148,-0.207912,-0.743145,-0.669131,-0.433884,-0.900969
6,19,5,0,640405112,0,3.29,0,0,2019,10,16,4,11,47,2,-0.866025,0.5,-0.101168,-0.994869,0.866025,0.5,0.913545,0.406737,-0.978148,0.207912,0.974928,-0.222521
7,14,28,1,640405172,3,3.79,0,0,2019,11,15,9,17,38,4,-0.5,0.866025,0.101168,-0.994869,0.707107,-0.707107,0.978148,-0.207912,-0.743145,-0.669131,-0.433884,-0.900969
8,12,7,2,640405348,4,2.00,1,1,2020,1,28,6,30,59,1,0.5,0.866025,-0.571268,0.820763,1.0,0.0,0.0,-1.0,-0.104528,0.994522,0.781831,0.62349
9,13,27,2,640405172,3,3.79,0,0,2020,7,20,21,12,55,0,-0.5,-0.866025,-0.790776,-0.612106,-0.707107,0.707107,0.951057,0.309017,-0.5,0.866025,0.0,1.0

In [58]:
print(cycleEmbed(12, 10))

(-0.8660254037844386, 0.5000000000000001)