In [1]:
import pandas as pd
import numpy as np
import datetime

import matplotlib.pyplot as plt
import sklearn


# Import necessary modules
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

import tensorflow as tf

# Keras specific
import keras
from keras.models import Sequential
from keras.layers import Dense

In [2]:
#!pip install tensorflow

#TODO - add day of year

In [3]:
#load data from data files and place into panda dataframes
custOrders = pd.read_csv('data/customer_orders.csv', low_memory=False)
temp2 = pd.read_csv('data/item_ingredients.csv', low_memory=False)
itemID=pd.read_csv('../SQL/item.csv')

In [4]:
#turn off panda max column display limit
print(pd.options.display.max_columns)
pd.options.display.max_columns
mns = None

20

In [5]:
#convert the boolean values into integers in the ingredients dataframe
#also print column names of dataframe

#manually arranges menu items onto a numberline
itemID=itemID.reindex([5,6,2,1,4,0,3,19,13,14,15,16,17,18,   7,8,9,10,11,12,20])

itemID['item_score'] = range(1, len(itemID) + 1)
itemID = itemID.drop("item_description", axis=1, errors='ignore')
itemID = itemID.drop("item_image", axis=1, errors='ignore')


#itemID = itemID.reset_index()
itemID_Dict={}
for i, row in itemID.iterrows():
    itemID_Dict[row.loc["item_id"]]=(row.loc["item_score"], row.loc["item_name"])

print(itemID_Dict)
itemID.head(100)

{640405112: (1, 'Double Cheeseburger'), 640405172: (2, 'Double Bacon Cheeseburger'), 640405025: (3, 'Bacon Cheeseburger'), 640404963: (4, 'Cheeseburger'), 640405085: (5, 'Double Hamburger'), 640404923: (6, 'Hamburger'), 640405058: (7, 'Veggie Burger'), 640405347: (8, 'Onion Rings'), 640405296: (9, 'Small Fries'), 640405307: (10, 'Regular Fries'), 640405315: (11, 'Large Fries'), 640405323: (12, 'Small Curly Fries'), 640405331: (13, 'Regular Curly Fries'), 640405339: (14, 'Large Curly Fries'), 640405355: (15, 'Small Drink'), 640405371: (16, 'Regular Drink'), 640405380: (17, 'Large Drink'), 640405389: (18, 'Small Shake'), 640405395: (19, 'Regular Shake'), 640405399: (20, 'Large Shake'), 640405348: (21, 'Coffee')}

,item_id,item_name,price,taste_profile,item_type,item_score
5,640405112,Double Cheeseburger,3.29,savory,burger,1
6,640405172,Double Bacon Cheeseburger,3.79,savory,burger,2
2,640405025,Bacon Cheeseburger,2.79,savory,burger,3
1,640404963,Cheeseburger,2.29,savory,burger,4
4,640405085,Double Hamburger,2.99,savory,burger,5
0,640404923,Hamburger,3.07,savory,burger,6
3,640405058,Veggie Burger,2.49,healthy,burger,7
19,640405347,Onion Rings,2.19,sweet,side,8
13,640405296,Small Fries,1.49,savory,side,9
14,640405307,Regular Fries,1.79,savory,side,10
15,640405315,Large Fries,2.09,savory,side,11
16,640405323,Small Curly Fries,1.49,savory,side,12
17,640405331,Regular Curly Fries,1.79,savory,side,13
18,640405339,Large Curly Fries,2.09,savory,side,14
7,640405355,Small Drink,1.59,chilling,beverage,15
8,640405371,Regular Drink,1.79,chilling,beverage,16
9,640405380,Large Drink,1.99,chilling,beverage,17
10,640405389,Small Shake,2.09,sweet,beverage,18
11,640405395,Regular Shake,2.29,sweet,beverage,19
12,640405399,Large Shake,2.49,sweet,beverage,20
20,640405348,Coffee,2.00,bitter,beverage,21

In [6]:
#print the binary version of the item-ingredient dataframe
temp2.head()
temp2.shape

(22, 19)

In [7]:
#change type to datetime
custOrders["order_timestamp"]=pd.to_datetime(custOrders["order_timestamp"])
custOrders.head()

,customer_id,order_id,weather,order_timestamp,item_id,item_name,taste_profile,item_type
0,52,1752,snowy,2015-01-02 20:38:35,640405323,Small Curly Fries,savory,side
1,52,1752,snowy,2015-01-02 20:38:35,640405331,Regular Curly Fries,savory,side
2,194,244,snowy,2015-01-04 16:51:57,640405315,Large Fries,savory,side
3,1,714,cloudy,2015-01-05 20:58:57,640405307,Regular Fries,savory,side
4,1,714,cloudy,2015-01-05 20:58:57,640405355,Small Drink,chilling,beverage

In [8]:
custOrders.head()

,customer_id,order_id,weather,order_timestamp,item_id,item_name,taste_profile,item_type
0,52,1752,snowy,2015-01-02 20:38:35,640405323,Small Curly Fries,savory,side
1,52,1752,snowy,2015-01-02 20:38:35,640405331,Regular Curly Fries,savory,side
2,194,244,snowy,2015-01-04 16:51:57,640405315,Large Fries,savory,side
3,1,714,cloudy,2015-01-05 20:58:57,640405307,Regular Fries,savory,side
4,1,714,cloudy,2015-01-05 20:58:57,640405355,Small Drink,chilling,beverage

In [9]:
#? unsure ----> item_name, item_description
#Think need more item related features, 

#function converts a cyclical data point(like time) into a 2 point representation on a circle 
def cycleEmbed(maximum, reading):
    maxi=maximum

    sin = np.sin(2*np.pi*reading/maxi)
    cos = np.cos(2*np.pi*reading/maxi)
    return (sin, cos)

In [10]:
#function takes a column name, dataframe, and then converts the column in the dataframe into a integers, 
#where each integer represents a unique value from that column
def enumerateCol(colName, dataFrame):
    count=0
    diction={}

    for i, row in dataFrame.iterrows():
        currentVal=row.loc[colName]
        if currentVal in diction:
            dataFrame.at[i, colName] = diction[currentVal]
        else:
            diction[currentVal]=count
            count+=1
            dataFrame.at[i, colName] = diction[currentVal]
            
#function enumerates column based on the itemID_Dict to 
def enumerateItemID(colName, dataFrame):
    count=0
    diction=itemID_Dict
    print(diction)
    for i, row in dataFrame.iterrows():
        currentVal=row.loc[colName]
        dataFrame.at[i, colName] = diction[currentVal][0]

In [11]:
# Get a Dictionary containing the pairs of column names & data type objects.

print('Data type of each column of Dataframe :')
print(dict(custOrders.dtypes))

Data type of each column of Dataframe :
{'customer_id': dtype('int64'), 'order_id': dtype('int64'), 'weather': dtype('O'), 'order_timestamp': dtype('<M8[ns]'), 'item_id': dtype('int64'), 'item_name': dtype('O'), 'taste_profile': dtype('O'), 'item_type': dtype('O')}

In [12]:
#split timestamp in "order_timestamp" into a number of individual columns for each part of the timestamp
custOrders["order_timestamp"]=pd.to_datetime(custOrders["order_timestamp"])
custOrders["order_date"]=custOrders["order_timestamp"].dt.date
custOrders["order_year"]=custOrders["order_timestamp"].dt.year
custOrders["order_month"]=custOrders["order_timestamp"].dt.month
custOrders["order_day"]=custOrders["order_timestamp"].dt.day
custOrders["order_hour"]=custOrders["order_timestamp"].dt.hour
custOrders["order_minute"]=custOrders["order_timestamp"].dt.minute
custOrders["order_second"]=custOrders["order_timestamp"].dt.second

#create a column for the weekday(mon,tues, weds, ...etc)
#must convert to weekday below
custOrders["order_weekday"]=custOrders["order_day"]

for i, row in custOrders.iterrows():
    custOrders.at[i, "order_weekday"] = datetime.datetime(row["order_year"], row["order_month"],row["order_day"],0,0,0).weekday()

In [13]:
#drop columns which are optional(not all customers will use it), clearly not useful, or redundant

custOrders = custOrders.drop("item_image", axis=1, errors='ignore')
custOrders = custOrders.drop("order_timestamp", axis=1, errors='ignore') #information moved into other columns added above
custOrders = custOrders.drop("customization_id", axis=1, errors='ignore') #customization is no in every order
custOrders = custOrders.drop("customization", axis=1, errors='ignore')
custOrders = custOrders.drop("opt_in", axis=1, errors='ignore')
custOrders = custOrders.drop("item_description", axis=1, errors='ignore')

custOrders = custOrders.drop("birthday", axis=1, errors='ignore') #check if part of opt in
custOrders = custOrders.drop("gender", axis=1, errors='ignore') #check if part of opt in
#custOrders = custOrders.drop("item_name", axis=1) #reduntance since we have item id? we need 

custOrders = custOrders.drop("order_date", axis=1, errors='ignore') #check if part of opt in


custOrders.head(10)

,customer_id,order_id,weather,item_id,item_name,taste_profile,item_type,order_year,order_month,order_day,order_hour,order_minute,order_second,order_weekday
0,52,1752,snowy,640405323,Small Curly Fries,savory,side,2015,1,2,20,38,35,4
1,52,1752,snowy,640405331,Regular Curly Fries,savory,side,2015,1,2,20,38,35,4
2,194,244,snowy,640405315,Large Fries,savory,side,2015,1,4,16,51,57,6
3,1,714,cloudy,640405307,Regular Fries,savory,side,2015,1,5,20,58,57,0
4,1,714,cloudy,640405355,Small Drink,chilling,beverage,2015,1,5,20,58,57,0
5,1,714,cloudy,640404963,Cheeseburger,savory,burger,2015,1,5,20,58,57,0
6,1,714,cloudy,640405347,Onion Rings,sweet,side,2015,1,5,20,58,57,0
7,47,1546,sunny,640405371,Regular Drink,chilling,beverage,2015,1,8,19,49,40,3
8,47,1546,sunny,640405395,Regular Shake,sweet,beverage,2015,1,8,19,49,40,3
9,47,1546,sunny,640405085,Double Hamburger,savory,burger,2015,1,8,19,49,40,3

In [14]:
#custOrders will represet the data before it has been enumerated and is only numbers
custOrders2=custOrders.copy()
custOrders2.head()

,customer_id,order_id,weather,item_id,item_name,taste_profile,item_type,order_year,order_month,order_day,order_hour,order_minute,order_second,order_weekday
0,52,1752,snowy,640405323,Small Curly Fries,savory,side,2015,1,2,20,38,35,4
1,52,1752,snowy,640405331,Regular Curly Fries,savory,side,2015,1,2,20,38,35,4
2,194,244,snowy,640405315,Large Fries,savory,side,2015,1,4,16,51,57,6
3,1,714,cloudy,640405307,Regular Fries,savory,side,2015,1,5,20,58,57,0
4,1,714,cloudy,640405355,Small Drink,chilling,beverage,2015,1,5,20,58,57,0

In [15]:
#embed time values to cycles on a circle
def timeEmbed(df, colName, maxi):
    name1=colName+"1"
    name2=colName+"2"
    print(name1)
    print(name2)
    df[name1]=None
    df[name2]=None
    for i, row in df.iterrows():
        temp=cycleEmbed(maxi, row[colName])
        df.at[i, name1]=temp[0]
        df.at[i, name2]=temp[1]

#convert every time based column into a point on a circle with timeEmbed()    
timeEmbed(custOrders2, "order_month", 12)
timeEmbed(custOrders2, "order_day", 31)
timeEmbed(custOrders2, "order_hour", 24)
timeEmbed(custOrders2, "order_minute", 60)
timeEmbed(custOrders2, "order_second", 60)
timeEmbed(custOrders2, "order_weekday", 7)

order_month1
order_month2
order_day1
order_day2
order_hour1
order_hour2
order_minute1
order_minute2
order_second1
order_second2
order_weekday1
order_weekday2

In [16]:
#print all number version of the data

custOrders2.head(10)

,customer_id,order_id,weather,item_id,item_name,taste_profile,item_type,order_year,order_month,order_day,...,order_day1,order_day2,order_hour1,order_hour2,order_minute1,order_minute2,order_second1,order_second2,order_weekday1,order_weekday2
0,52,1752,snowy,640405323,Small Curly Fries,savory,side,2015,1,2,...,0.394356,0.918958,-0.866025,0.5,-0.743145,-0.669131,-0.5,-0.866025,-0.433884,-0.900969
1,52,1752,snowy,640405331,Regular Curly Fries,savory,side,2015,1,2,...,0.394356,0.918958,-0.866025,0.5,-0.743145,-0.669131,-0.5,-0.866025,-0.433884,-0.900969
2,194,244,snowy,640405315,Large Fries,savory,side,2015,1,4,...,0.724793,0.688967,-0.866025,-0.5,-0.809017,0.587785,-0.309017,0.951057,-0.781831,0.62349
3,1,714,cloudy,640405307,Regular Fries,savory,side,2015,1,5,...,0.848644,0.528964,-0.866025,0.5,-0.207912,0.978148,-0.309017,0.951057,0.0,1.0
4,1,714,cloudy,640405355,Small Drink,chilling,beverage,2015,1,5,...,0.848644,0.528964,-0.866025,0.5,-0.207912,0.978148,-0.309017,0.951057,0.0,1.0
5,1,714,cloudy,640404963,Cheeseburger,savory,burger,2015,1,5,...,0.848644,0.528964,-0.866025,0.5,-0.207912,0.978148,-0.309017,0.951057,0.0,1.0
6,1,714,cloudy,640405347,Onion Rings,sweet,side,2015,1,5,...,0.848644,0.528964,-0.866025,0.5,-0.207912,0.978148,-0.309017,0.951057,0.0,1.0
7,47,1546,sunny,640405371,Regular Drink,chilling,beverage,2015,1,8,...,0.998717,-0.050649,-0.965926,0.258819,-0.913545,0.406737,-0.866025,-0.5,0.433884,-0.900969
8,47,1546,sunny,640405395,Regular Shake,sweet,beverage,2015,1,8,...,0.998717,-0.050649,-0.965926,0.258819,-0.913545,0.406737,-0.866025,-0.5,0.433884,-0.900969
9,47,1546,sunny,640405085,Double Hamburger,savory,burger,2015,1,8,...,0.998717,-0.050649,-0.965926,0.258819,-0.913545,0.406737,-0.866025,-0.5,0.433884,-0.900969

In [17]:
#begin splitting custOrders2 into training/validation sets, including moving supervision target(itemID) out

masterDS=custOrders2.copy()
masterDS = masterDS.drop("order_month", axis=1, errors='ignore')
masterDS = masterDS.drop("order_day", axis=1, errors='ignore')
masterDS = masterDS.drop("order_hour", axis=1, errors='ignore')
masterDS = masterDS.drop("order_year", axis=1, errors='ignore')
masterDS = masterDS.drop("order_minute", axis=1, errors='ignore')
masterDS = masterDS.drop("order_second", axis=1, errors='ignore')
masterDS = masterDS.drop("order_weekday", axis=1, errors='ignore')


masterDS = masterDS.drop("item_image", axis=1, errors='ignore')
masterDS = masterDS.drop("birthday", axis=1, errors='ignore')


#masterDS = masterDS.drop("customer_id", axis=1, errors='ignore')
#masterDS = masterDS.drop("order_id", axis=1, errors='ignore')

In [18]:
masterDS.head()

,customer_id,order_id,weather,item_id,item_name,taste_profile,item_type,order_month1,order_month2,order_day1,order_day2,order_hour1,order_hour2,order_minute1,order_minute2,order_second1,order_second2,order_weekday1,order_weekday2
0,52,1752,snowy,640405323,Small Curly Fries,savory,side,0.5,0.866025,0.394356,0.918958,-0.866025,0.5,-0.743145,-0.669131,-0.5,-0.866025,-0.433884,-0.900969
1,52,1752,snowy,640405331,Regular Curly Fries,savory,side,0.5,0.866025,0.394356,0.918958,-0.866025,0.5,-0.743145,-0.669131,-0.5,-0.866025,-0.433884,-0.900969
2,194,244,snowy,640405315,Large Fries,savory,side,0.5,0.866025,0.724793,0.688967,-0.866025,-0.5,-0.809017,0.587785,-0.309017,0.951057,-0.781831,0.62349
3,1,714,cloudy,640405307,Regular Fries,savory,side,0.5,0.866025,0.848644,0.528964,-0.866025,0.5,-0.207912,0.978148,-0.309017,0.951057,0.0,1.0
4,1,714,cloudy,640405355,Small Drink,chilling,beverage,0.5,0.866025,0.848644,0.528964,-0.866025,0.5,-0.207912,0.978148,-0.309017,0.951057,0.0,1.0

In [19]:

#Enumerate columns that are categorical
enumerateCol("weather", masterDS)
enumerateItemID("item_id", masterDS)
enumerateCol("taste_profile", masterDS)
enumerateCol("item_type", masterDS)

masterDS.head()

masterDS = masterDS.drop("item_name", axis=1, errors='ignore')

{640405112: (1, 'Double Cheeseburger'), 640405172: (2, 'Double Bacon Cheeseburger'), 640405025: (3, 'Bacon Cheeseburger'), 640404963: (4, 'Cheeseburger'), 640405085: (5, 'Double Hamburger'), 640404923: (6, 'Hamburger'), 640405058: (7, 'Veggie Burger'), 640405347: (8, 'Onion Rings'), 640405296: (9, 'Small Fries'), 640405307: (10, 'Regular Fries'), 640405315: (11, 'Large Fries'), 640405323: (12, 'Small Curly Fries'), 640405331: (13, 'Regular Curly Fries'), 640405339: (14, 'Large Curly Fries'), 640405355: (15, 'Small Drink'), 640405371: (16, 'Regular Drink'), 640405380: (17, 'Large Drink'), 640405389: (18, 'Small Shake'), 640405395: (19, 'Regular Shake'), 640405399: (20, 'Large Shake'), 640405348: (21, 'Coffee')}

In [20]:
#? need to normalize?
# DO I NEED TO DO the FLOAT 64 CAST? 
#cast all columns to float64

for col in masterDS.columns:
    masterDS[col] = masterDS[col].astype(np.float64)
masterDS.head(10)

,customer_id,order_id,weather,item_id,taste_profile,item_type,order_month1,order_month2,order_day1,order_day2,order_hour1,order_hour2,order_minute1,order_minute2,order_second1,order_second2,order_weekday1,order_weekday2
0,52.0,1752.0,0.0,12.0,0.0,0.0,0.5,0.866025,0.394356,0.918958,-0.866025,0.500000,-0.743145,-0.669131,-0.500000,-0.866025,-0.433884,-0.900969
1,52.0,1752.0,0.0,13.0,0.0,0.0,0.5,0.866025,0.394356,0.918958,-0.866025,0.500000,-0.743145,-0.669131,-0.500000,-0.866025,-0.433884,-0.900969
2,194.0,244.0,0.0,11.0,0.0,0.0,0.5,0.866025,0.724793,0.688967,-0.866025,-0.500000,-0.809017,0.587785,-0.309017,0.951057,-0.781831,0.623490
3,1.0,714.0,1.0,10.0,0.0,0.0,0.5,0.866025,0.848644,0.528964,-0.866025,0.500000,-0.207912,0.978148,-0.309017,0.951057,0.000000,1.000000
4,1.0,714.0,1.0,15.0,1.0,1.0,0.5,0.866025,0.848644,0.528964,-0.866025,0.500000,-0.207912,0.978148,-0.309017,0.951057,0.000000,1.000000
5,1.0,714.0,1.0,4.0,0.0,2.0,0.5,0.866025,0.848644,0.528964,-0.866025,0.500000,-0.207912,0.978148,-0.309017,0.951057,0.000000,1.000000
6,1.0,714.0,1.0,8.0,2.0,0.0,0.5,0.866025,0.848644,0.528964,-0.866025,0.500000,-0.207912,0.978148,-0.309017,0.951057,0.000000,1.000000
7,47.0,1546.0,2.0,16.0,1.0,1.0,0.5,0.866025,0.998717,-0.050649,-0.965926,0.258819,-0.913545,0.406737,-0.866025,-0.500000,0.433884,-0.900969
8,47.0,1546.0,2.0,19.0,2.0,1.0,0.5,0.866025,0.998717,-0.050649,-0.965926,0.258819,-0.913545,0.406737,-0.866025,-0.500000,0.433884,-0.900969
9,47.0,1546.0,2.0,5.0,0.0,2.0,0.5,0.866025,0.998717,-0.050649,-0.965926,0.258819,-0.913545,0.406737,-0.866025,-0.500000,0.433884,-0.900969

In [21]:
target_column = ['item_id'] 
predictors = list(set(list(masterDS.columns))-set(target_column))
print(predictors)

#next line regularizes the all columns outside of target_column
# I definitly dont want it for the time data points, but do other columns need it?????

#masterDS[predictors] = masterDS[predictors]/masterDS[predictors].max()

['order_hour1', 'customer_id', 'weather', 'order_month2', 'order_minute2', 'order_day1', 'order_day2', 'taste_profile', 'order_hour2', 'item_type', 'order_second1', 'order_weekday1', 'order_minute1', 'order_month1', 'order_weekday2', 'order_id', 'order_second2']

In [22]:
X = masterDS[predictors].values
y = masterDS[target_column].values

In [23]:
#split into training and testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=40)
print(X_train.shape); print(X_test.shape)

(3847, 17)
(962, 17)

In [24]:
# Define model
model = Sequential()
model.add(Dense(500, input_dim=X_train.shape[1], activation= "relu"))
model.add(Dense(100, activation= "relu"))
model.add(Dense(50, activation= "relu"))
model.add(Dense(1))
#model.summary() #Print model Summary

In [25]:
#tf.keras.backend.set_floatx('float64')

model.compile(loss= "mean_squared_error" , optimizer="adam", metrics=["mean_squared_error"])

model.fit(X_train, y_train, epochs=300)

Epoch 1/300
121/121 [==============================] - 1s 3ms/step - loss: 103.7838 - mean_squared_error: 103.7838
Epoch 2/300
121/121 [==============================] - 1s 4ms/step - loss: 51.6872 - mean_squared_error: 51.6872
Epoch 3/300
121/121 [==============================] - 1s 4ms/step - loss: 47.1834 - mean_squared_error: 47.1834
Epoch 4/300
121/121 [==============================] - 1s 5ms/step - loss: 44.5830 - mean_squared_error: 44.5830
Epoch 5/300
121/121 [==============================] - 1s 5ms/step - loss: 46.9919 - mean_squared_error: 46.9919
Epoch 6/300
121/121 [==============================] - 1s 4ms/step - loss: 37.8389 - mean_squared_error: 37.8389
Epoch 7/300
121/121 [==============================] - 1s 5ms/step - loss: 36.2131 - mean_squared_error: 36.2131
Epoch 8/300
121/121 [==============================] - 1s 4ms/step - loss: 32.6379 - mean_squared_error: 32.6379
Epoch 9/300
121/121 [==============================] - 1s 4ms/step - loss: 32.1476 - mean_squared_error: 32.1476
Epoch 10/300
121/121 [==============================] - 1s 5ms/step - loss: 29.6437 - mean_squared_error: 29.6437
Epoch 11/300
121/121 [==============================] - 0s 3ms/step - loss: 27.8420 - mean_squared_error: 27.8420
Epoch 12/300
121/121 [==============================] - 0s 2ms/step - loss: 29.8946 - mean_squared_error: 29.8946
Epoch 13/300
121/121 [==============================] - 0s 2ms/step - loss: 27.6501 - mean_squared_error: 27.6501
Epoch 14/300
121/121 [==============================] - 0s 2ms/step - loss: 27.8807 - mean_squared_error: 27.8807
Epoch 15/300
121/121 [==============================] - 0s 2ms/step - loss: 27.0028 - mean_squared_error: 27.0028
Epoch 16/300
121/121 [==============================] - 0s 2ms/step - loss: 24.6083 - mean_squared_error: 24.6083
Epoch 17/300
121/121 [==============================] - 0s 2ms/step - loss: 25.0237 - mean_squared_error: 25.0237
Epoch 18/300
121/121 [==============================] - 0s 2ms/step - loss: 26.5421 - mean_squared_error: 26.5421
Epoch 19/300
121/121 [==============================] - 0s 2ms/step - loss: 26.5684 - mean_squared_error: 26.5684
Epoch 20/300
121/121 [==============================] - 0s 2ms/step - loss: 24.6639 - mean_squared_error: 24.6639
Epoch 21/300
121/121 [==============================] - 0s 2ms/step - loss: 23.2290 - mean_squared_error: 23.2290
Epoch 22/300
121/121 [==============================] - 0s 2ms/step - loss: 23.4655 - mean_squared_error: 23.4655
Epoch 23/300
121/121 [==============================] - 0s 3ms/step - loss: 23.0697 - mean_squared_error: 23.0697
Epoch 24/300
121/121 [==============================] - 0s 4ms/step - loss: 22.0299 - mean_squared_error: 22.0299
Epoch 25/300
121/121 [==============================] - 0s 4ms/step - loss: 22.2820 - mean_squared_error: 22.2820
Epoch 26/300
121/121 [==============================] - 1s 4ms/step - loss: 24.7946 - mean_squared_error: 24.7946
Epoch 27/300
121/121 [==============================] - 1s 5ms/step - loss: 24.1739 - mean_squared_error: 24.1739
Epoch 28/300
121/121 [==============================] - 1s 5ms/step - loss: 21.5753 - mean_squared_error: 21.5753
Epoch 29/300
121/121 [==============================] - 0s 2ms/step - loss: 21.6929 - mean_squared_error: 21.6929
Epoch 30/300
121/121 [==============================] - 0s 2ms/step - loss: 22.8090 - mean_squared_error: 22.8090
Epoch 31/300
121/121 [==============================] - 1s 5ms/step - loss: 23.4569 - mean_squared_error: 23.4569
Epoch 32/300
121/121 [==============================] - 1s 5ms/step - loss: 20.3921 - mean_squared_error: 20.3921
Epoch 33/300
121/121 [==============================] - 1s 5ms/step - loss: 20.6998 - mean_squared_error: 20.6998
Epoch 34/300
121/121 [==============================] - 1s 5ms/step - loss: 19.2737 - mean_squared_error: 19.2737
Epoch 35/300
121/121 [==============================] - 0s 4ms/step - loss: 18.6178 - mean_squared_error: 18.6178
Epoch 36/300
121/121 [==============================] - 0s 4ms/step - loss: 20.0655 - mean_squared_error: 20.0655
Epoch 37/300
121/121 [==============================] - 1s 4ms/step - loss: 18.2614 - mean_squared_error: 18.2614
Epoch 38/300
121/121 [==============================] - 1s 4ms/step - loss: 18.2732 - mean_squared_error: 18.2732
Epoch 39/300
121/121 [==============================] - 1s 5ms/step - loss: 18.8554 - mean_squared_error: 18.8554
Epoch 40/300
121/121 [==============================] - 1s 4ms/step - loss: 20.8016 - mean_squared_error: 20.8016
Epoch 41/300
121/121 [==============================] - 0s 3ms/step - loss: 17.8373 - mean_squared_error: 17.8373
Epoch 42/300
121/121 [==============================] - 0s 4ms/step - loss: 17.3683 - mean_squared_error: 17.3683
Epoch 43/300
121/121 [==============================] - 1s 4ms/step - loss: 17.2403 - mean_squared_error: 17.2403
Epoch 44/300
121/121 [==============================] - 1s 5ms/step - loss: 16.0406 - mean_squared_error: 16.0406
Epoch 45/300
121/121 [==============================] - 0s 4ms/step - loss: 19.8129 - mean_squared_error: 19.8129
Epoch 46/300
121/121 [==============================] - 0s 4ms/step - loss: 17.5736 - mean_squared_error: 17.5736
Epoch 47/300
121/121 [==============================] - 0s 3ms/step - loss: 17.0328 - mean_squared_error: 17.0328
Epoch 48/300
121/121 [==============================] - 1s 4ms/step - loss: 17.6665 - mean_squared_error: 17.6665
Epoch 49/300
121/121 [==============================] - 1s 4ms/step - loss: 16.5843 - mean_squared_error: 16.5843
Epoch 50/300
121/121 [==============================] - 0s 3ms/step - loss: 15.1923 - mean_squared_error: 15.1923
Epoch 51/300
121/121 [==============================] - 0s 3ms/step - loss: 16.6744 - mean_squared_error: 16.6744
Epoch 52/300
121/121 [==============================] - 0s 2ms/step - loss: 15.5722 - mean_squared_error: 15.5722
Epoch 53/300
121/121 [==============================] - 0s 2ms/step - loss: 14.5841 - mean_squared_error: 14.5841
Epoch 54/300
121/121 [==============================] - 0s 2ms/step - loss: 14.4983 - mean_squared_error: 14.4983
Epoch 55/300
121/121 [==============================] - 0s 2ms/step - loss: 15.7530 - mean_squared_error: 15.7530
Epoch 56/300
121/121 [==============================] - 0s 2ms/step - loss: 14.7881 - mean_squared_error: 14.7881
Epoch 57/300
121/121 [==============================] - 0s 2ms/step - loss: 13.4463 - mean_squared_error: 13.4463
Epoch 58/300
121/121 [==============================] - 0s 2ms/step - loss: 14.2662 - mean_squared_error: 14.2662
Epoch 59/300
121/121 [==============================] - 0s 2ms/step - loss: 14.1746 - mean_squared_error: 14.1746
Epoch 60/300
121/121 [==============================] - 0s 2ms/step - loss: 13.5200 - mean_squared_error: 13.5200
Epoch 61/300
121/121 [==============================] - 0s 2ms/step - loss: 13.5185 - mean_squared_error: 13.5185
Epoch 62/300
121/121 [==============================] - 0s 2ms/step - loss: 14.3117 - mean_squared_error: 14.3117
Epoch 63/300
121/121 [==============================] - 0s 2ms/step - loss: 13.3489 - mean_squared_error: 13.3489
Epoch 64/300
121/121 [==============================] - 0s 2ms/step - loss: 13.4880 - mean_squared_error: 13.4880
Epoch 65/300
121/121 [==============================] - 0s 3ms/step - loss: 13.0094 - mean_squared_error: 13.0094
Epoch 66/300
121/121 [==============================] - 0s 2ms/step - loss: 12.8008 - mean_squared_error: 12.8008
Epoch 67/300
121/121 [==============================] - 1s 4ms/step - loss: 12.2795 - mean_squared_error: 12.2795
Epoch 68/300
121/121 [==============================] - 1s 4ms/step - loss: 12.7802 - mean_squared_error: 12.7802
Epoch 69/300
121/121 [==============================] - 0s 4ms/step - loss: 13.9114 - mean_squared_error: 13.9114
Epoch 70/300
121/121 [==============================] - 0s 4ms/step - loss: 12.2583 - mean_squared_error: 12.2583
Epoch 71/300
121/121 [==============================] - 0s 2ms/step - loss: 11.7793 - mean_squared_error: 11.7793
Epoch 72/300

121/121 [==============================] - 0s 2ms/step - loss: 13.3740 - mean_squared_error: 13.3740
Epoch 73/300
121/121 [==============================] - 0s 2ms/step - loss: 11.4033 - mean_squared_error: 11.4033
Epoch 74/300
121/121 [==============================] - 0s 2ms/step - loss: 11.5243 - mean_squared_error: 11.5243
Epoch 75/300
121/121 [==============================] - 0s 2ms/step - loss: 12.3965 - mean_squared_error: 12.3965
Epoch 76/300
121/121 [==============================] - 0s 2ms/step - loss: 12.7435 - mean_squared_error: 12.7435
Epoch 77/300
121/121 [==============================] - 0s 2ms/step - loss: 12.5102 - mean_squared_error: 12.5102
Epoch 78/300
121/121 [==============================] - 0s 2ms/step - loss: 10.8862 - mean_squared_error: 10.8862
Epoch 79/300
121/121 [==============================] - 0s 2ms/step - loss: 10.6576 - mean_squared_error: 10.6576
Epoch 80/300
121/121 [==============================] - 0s 2ms/step - loss: 11.8765 - mean_squared_error: 11.8765
Epoch 81/300
121/121 [==============================] - 0s 1ms/step - loss: 11.2571 - mean_squared_error: 11.2571
Epoch 82/300
121/121 [==============================] - 0s 2ms/step - loss: 11.4308 - mean_squared_error: 11.4308
Epoch 83/300
121/121 [==============================] - 0s 2ms/step - loss: 10.9183 - mean_squared_error: 10.9183
Epoch 84/300
121/121 [==============================] - 0s 3ms/step - loss: 10.9313 - mean_squared_error: 10.9313
Epoch 85/300
121/121 [==============================] - 0s 3ms/step - loss: 11.2724 - mean_squared_error: 11.2724
Epoch 86/300
121/121 [==============================] - 0s 2ms/step - loss: 11.3793 - mean_squared_error: 11.3793
Epoch 87/300
121/121 [==============================] - 0s 2ms/step - loss: 9.7822 - mean_squared_error: 9.7822
Epoch 88/300
121/121 [==============================] - 0s 4ms/step - loss: 11.6904 - mean_squared_error: 11.6904
Epoch 89/300
121/121 [==============================] - 1s 4ms/step - loss: 10.7067 - mean_squared_error: 10.7067
Epoch 90/300
121/121 [==============================] - 1s 4ms/step - loss: 10.0716 - mean_squared_error: 10.0716
Epoch 91/300
121/121 [==============================] - 0s 3ms/step - loss: 10.0319 - mean_squared_error: 10.0319
Epoch 92/300
121/121 [==============================] - 0s 2ms/step - loss: 10.3311 - mean_squared_error: 10.3311
Epoch 93/300
121/121 [==============================] - 0s 2ms/step - loss: 11.3902 - mean_squared_error: 11.3902
Epoch 94/300
121/121 [==============================] - 0s 2ms/step - loss: 10.2903 - mean_squared_error: 10.2903
Epoch 95/300
121/121 [==============================] - 0s 2ms/step - loss: 9.8925 - mean_squared_error: 9.8925
Epoch 96/300
121/121 [==============================] - 0s 2ms/step - loss: 9.4308 - mean_squared_error: 9.4308
Epoch 97/300
121/121 [==============================] - 0s 2ms/step - loss: 10.2736 - mean_squared_error: 10.2736
Epoch 98/300
121/121 [==============================] - 0s 2ms/step - loss: 9.6289 - mean_squared_error: 9.6289
Epoch 99/300
121/121 [==============================] - 1s 4ms/step - loss: 10.2527 - mean_squared_error: 10.2527
Epoch 100/300
121/121 [==============================] - 0s 4ms/step - loss: 9.6827 - mean_squared_error: 9.6827
Epoch 101/300
121/121 [==============================] - 0s 3ms/step - loss: 9.2363 - mean_squared_error: 9.2363
Epoch 102/300
121/121 [==============================] - 0s 4ms/step - loss: 9.5037 - mean_squared_error: 9.5037
Epoch 103/300
121/121 [==============================] - 1s 5ms/step - loss: 9.0992 - mean_squared_error: 9.0992
Epoch 104/300
121/121 [==============================] - 0s 3ms/step - loss: 9.3652 - mean_squared_error: 9.3652
Epoch 105/300
121/121 [==============================] - 1s 4ms/step - loss: 9.3131 - mean_squared_error: 9.3131
Epoch 106/300
121/121 [==============================] - 1s 4ms/step - loss: 9.4144 - mean_squared_error: 9.4144
Epoch 107/300
121/121 [==============================] - 0s 2ms/step - loss: 9.1307 - mean_squared_error: 9.1307
Epoch 108/300
121/121 [==============================] - 0s 2ms/step - loss: 9.0045 - mean_squared_error: 9.0045
Epoch 109/300
121/121 [==============================] - 0s 3ms/step - loss: 9.0142 - mean_squared_error: 9.0142
Epoch 110/300
121/121 [==============================] - 0s 2ms/step - loss: 8.9189 - mean_squared_error: 8.9189
Epoch 111/300
121/121 [==============================] - 0s 4ms/step - loss: 8.5095 - mean_squared_error: 8.5095
Epoch 112/300
121/121 [==============================] - 1s 4ms/step - loss: 8.7248 - mean_squared_error: 8.7248
Epoch 113/300
121/121 [==============================] - 0s 4ms/step - loss: 8.7860 - mean_squared_error: 8.7860
Epoch 114/300
121/121 [==============================] - 0s 2ms/step - loss: 8.5811 - mean_squared_error: 8.5811
Epoch 115/300
121/121 [==============================] - 0s 2ms/step - loss: 8.8804 - mean_squared_error: 8.8804
Epoch 116/300
121/121 [==============================] - 0s 3ms/step - loss: 8.5215 - mean_squared_error: 8.5215
Epoch 117/300
121/121 [==============================] - 0s 3ms/step - loss: 8.2752 - mean_squared_error: 8.2752
Epoch 118/300
121/121 [==============================] - 0s 3ms/step - loss: 8.7000 - mean_squared_error: 8.7000
Epoch 119/300
121/121 [==============================] - 1s 4ms/step - loss: 8.7202 - mean_squared_error: 8.7202
Epoch 120/300
121/121 [==============================] - 0s 3ms/step - loss: 8.6588 - mean_squared_error: 8.6588
Epoch 121/300
121/121 [==============================] - 0s 2ms/step - loss: 8.3145 - mean_squared_error: 8.3145
Epoch 122/300
121/121 [==============================] - 0s 3ms/step - loss: 8.2992 - mean_squared_error: 8.2992
Epoch 123/300
121/121 [==============================] - 0s 4ms/step - loss: 7.7056 - mean_squared_error: 7.7056
Epoch 124/300
121/121 [==============================] - 1s 4ms/step - loss: 7.8811 - mean_squared_error: 7.8811
Epoch 125/300
121/121 [==============================] - 1s 5ms/step - loss: 8.2174 - mean_squared_error: 8.2174
Epoch 126/300
121/121 [==============================] - 0s 4ms/step - loss: 8.2646 - mean_squared_error: 8.2646
Epoch 127/300
121/121 [==============================] - 1s 5ms/step - loss: 8.4282 - mean_squared_error: 8.4282
Epoch 128/300
121/121 [==============================] - 0s 4ms/step - loss: 7.5828 - mean_squared_error: 7.5828
Epoch 129/300
121/121 [==============================] - 0s 4ms/step - loss: 7.2669 - mean_squared_error: 7.2669
Epoch 130/300
121/121 [==============================] - 0s 4ms/step - loss: 7.6660 - mean_squared_error: 7.6660
Epoch 131/300
121/121 [==============================] - 0s 3ms/step - loss: 8.3327 - mean_squared_error: 8.3327
Epoch 132/300
121/121 [==============================] - 0s 4ms/step - loss: 7.7578 - mean_squared_error: 7.7578
Epoch 133/300
121/121 [==============================] - 0s 3ms/step - loss: 7.9466 - mean_squared_error: 7.9466
Epoch 134/300
121/121 [==============================] - 0s 2ms/step - loss: 7.1008 - mean_squared_error: 7.1008
Epoch 135/300
121/121 [==============================] - 0s 3ms/step - loss: 7.1609 - mean_squared_error: 7.1609
Epoch 136/300
121/121 [==============================] - 0s 2ms/step - loss: 5.8582 - mean_squared_error: 5.8582
Epoch 137/300
121/121 [==============================] - 0s 2ms/step - loss: 8.0803 - mean_squared_error: 8.0803
Epoch 138/300
121/121 [==============================] - 0s 2ms/step - loss: 7.2440 - mean_squared_error: 7.2440
Epoch 139/300
121/121 [==============================] - 0s 2ms/step - loss: 5.3269 - mean_squared_error: 5.3269
Epoch 140/300
121/121 [==============================] - 0s 2ms/step - loss: 5.1799 - mean_squared_error: 5.1799
Epoch 141/300
121/121 [==============================] - 0s 2ms/step - loss: 4.3657 - mean_squared_error: 4.3657
Epoch 142/300
121/121 [==============================] - 1s 4ms/step - loss: 4.5344 - mean_squared_error: 4.5344
Epoch 143/300
121/121 [==============================] - 0s 4ms/step - loss: 3.0098 - mean_squared_error: 3.0098
Epoch 144/300

121/121 [==============================] - 0s 3ms/step - loss: 2.5113 - mean_squared_error: 2.5113
Epoch 145/300
121/121 [==============================] - 0s 2ms/step - loss: 5.3940 - mean_squared_error: 5.3940
Epoch 146/300
121/121 [==============================] - 0s 4ms/step - loss: 4.4989 - mean_squared_error: 4.4989
Epoch 147/300
121/121 [==============================] - 0s 2ms/step - loss: 2.8290 - mean_squared_error: 2.8290
Epoch 148/300
121/121 [==============================] - 0s 2ms/step - loss: 2.2153 - mean_squared_error: 2.2153
Epoch 149/300
121/121 [==============================] - 0s 2ms/step - loss: 2.0590 - mean_squared_error: 2.0590
Epoch 150/300
121/121 [==============================] - 0s 2ms/step - loss: 2.1164 - mean_squared_error: 2.1164
Epoch 151/300
121/121 [==============================] - 0s 2ms/step - loss: 1.9806 - mean_squared_error: 1.9806
Epoch 152/300
121/121 [==============================] - 0s 2ms/step - loss: 1.9858 - mean_squared_error: 1.9858
Epoch 153/300
121/121 [==============================] - 0s 2ms/step - loss: 1.9222 - mean_squared_error: 1.9222
Epoch 154/300
121/121 [==============================] - 0s 3ms/step - loss: 1.9008 - mean_squared_error: 1.9008
Epoch 155/300
121/121 [==============================] - 0s 3ms/step - loss: 1.9274 - mean_squared_error: 1.9274
Epoch 156/300
121/121 [==============================] - 0s 2ms/step - loss: 2.6193 - mean_squared_error: 2.6193
Epoch 157/300
121/121 [==============================] - 0s 2ms/step - loss: 5.4827 - mean_squared_error: 5.4827
Epoch 158/300
121/121 [==============================] - 0s 2ms/step - loss: 2.6719 - mean_squared_error: 2.6719
Epoch 159/300
121/121 [==============================] - 0s 2ms/step - loss: 1.9392 - mean_squared_error: 1.9392
Epoch 160/300
121/121 [==============================] - 0s 3ms/step - loss: 1.8917 - mean_squared_error: 1.8917
Epoch 161/300
121/121 [==============================] - 0s 4ms/step - loss: 1.9011 - mean_squared_error: 1.9011
Epoch 162/300
121/121 [==============================] - 0s 2ms/step - loss: 1.9008 - mean_squared_error: 1.9008
Epoch 163/300
121/121 [==============================] - 0s 3ms/step - loss: 2.4912 - mean_squared_error: 2.4912
Epoch 164/300
121/121 [==============================] - 0s 3ms/step - loss: 5.8739 - mean_squared_error: 5.8739
Epoch 165/300
121/121 [==============================] - 0s 4ms/step - loss: 3.0186 - mean_squared_error: 3.0186
Epoch 166/300
121/121 [==============================] - 1s 5ms/step - loss: 1.8898 - mean_squared_error: 1.8898
Epoch 167/300
121/121 [==============================] - 0s 3ms/step - loss: 1.8761 - mean_squared_error: 1.8761
Epoch 168/300
121/121 [==============================] - 0s 3ms/step - loss: 1.9014 - mean_squared_error: 1.9014
Epoch 169/300
121/121 [==============================] - 1s 4ms/step - loss: 1.8695 - mean_squared_error: 1.8695
Epoch 170/300
121/121 [==============================] - 0s 4ms/step - loss: 1.8467 - mean_squared_error: 1.8467
Epoch 171/300
121/121 [==============================] - 0s 3ms/step - loss: 3.4218 - mean_squared_error: 3.4218
Epoch 172/300
121/121 [==============================] - 0s 2ms/step - loss: 2.4185 - mean_squared_error: 2.4185
Epoch 173/300
121/121 [==============================] - 0s 4ms/step - loss: 2.4073 - mean_squared_error: 2.4073
Epoch 174/300
121/121 [==============================] - 0s 2ms/step - loss: 2.3346 - mean_squared_error: 2.3346
Epoch 175/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8814 - mean_squared_error: 1.8814
Epoch 176/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8532 - mean_squared_error: 1.8532
Epoch 177/300
121/121 [==============================] - 0s 3ms/step - loss: 1.8605 - mean_squared_error: 1.8605
Epoch 178/300
121/121 [==============================] - 0s 4ms/step - loss: 1.8352 - mean_squared_error: 1.8352
Epoch 179/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8528 - mean_squared_error: 1.8528
Epoch 180/300
121/121 [==============================] - 0s 2ms/step - loss: 2.4348 - mean_squared_error: 2.4348
Epoch 181/300
121/121 [==============================] - 0s 2ms/step - loss: 9.3538 - mean_squared_error: 9.3538
Epoch 182/300
121/121 [==============================] - 0s 4ms/step - loss: 2.5102 - mean_squared_error: 2.5102
Epoch 183/300
121/121 [==============================] - 0s 2ms/step - loss: 1.9203 - mean_squared_error: 1.9203
Epoch 184/300
121/121 [==============================] - 0s 2ms/step - loss: 1.9417 - mean_squared_error: 1.9417
Epoch 185/300
121/121 [==============================] - 0s 3ms/step - loss: 1.8938 - mean_squared_error: 1.8938
Epoch 186/300
121/121 [==============================] - 0s 3ms/step - loss: 3.1470 - mean_squared_error: 3.1470
Epoch 187/300
121/121 [==============================] - 1s 4ms/step - loss: 1.9338 - mean_squared_error: 1.9338
Epoch 188/300
121/121 [==============================] - 0s 4ms/step - loss: 1.9036 - mean_squared_error: 1.9036
Epoch 189/300
121/121 [==============================] - 0s 3ms/step - loss: 1.8887 - mean_squared_error: 1.8887
Epoch 190/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8792 - mean_squared_error: 1.8792
Epoch 191/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8547 - mean_squared_error: 1.8547
Epoch 192/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8483 - mean_squared_error: 1.8483
Epoch 193/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8652 - mean_squared_error: 1.8652
Epoch 194/300
121/121 [==============================] - 0s 2ms/step - loss: 1.9132 - mean_squared_error: 1.9132
Epoch 195/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8627 - mean_squared_error: 1.8627
Epoch 196/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8523 - mean_squared_error: 1.8523
Epoch 197/300
121/121 [==============================] - 0s 2ms/step - loss: 2.3003 - mean_squared_error: 2.3003
Epoch 198/300
121/121 [==============================] - 0s 2ms/step - loss: 2.1857 - mean_squared_error: 2.1857
Epoch 199/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8572 - mean_squared_error: 1.8572
Epoch 200/300
121/121 [==============================] - 0s 4ms/step - loss: 1.9297 - mean_squared_error: 1.9297
Epoch 201/300
121/121 [==============================] - 0s 2ms/step - loss: 1.9046 - mean_squared_error: 1.9046
Epoch 202/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8473 - mean_squared_error: 1.8473
Epoch 203/300
121/121 [==============================] - 1s 4ms/step - loss: 5.8062 - mean_squared_error: 5.8062
Epoch 204/300
121/121 [==============================] - 0s 2ms/step - loss: 2.0906 - mean_squared_error: 2.0906
Epoch 205/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8922 - mean_squared_error: 1.8922
Epoch 206/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8541 - mean_squared_error: 1.8541
Epoch 207/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8443 - mean_squared_error: 1.8443
Epoch 208/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8480 - mean_squared_error: 1.8480
Epoch 209/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8428 - mean_squared_error: 1.8428
Epoch 210/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8315 - mean_squared_error: 1.8315
Epoch 211/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8917 - mean_squared_error: 1.8917
Epoch 212/300
121/121 [==============================] - 0s 3ms/step - loss: 1.8196 - mean_squared_error: 1.8196
Epoch 213/300
121/121 [==============================] - 0s 4ms/step - loss: 1.8313 - mean_squared_error: 1.8313
Epoch 214/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8530 - mean_squared_error: 1.8530
Epoch 215/300
121/121 [==============================] - 0s 2ms/step - loss: 2.2536 - mean_squared_error: 2.2536
Epoch 216/300

121/121 [==============================] - 0s 2ms/step - loss: 3.9265 - mean_squared_error: 3.9265
Epoch 217/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8748 - mean_squared_error: 1.8748
Epoch 218/300
121/121 [==============================] - 0s 4ms/step - loss: 1.8673 - mean_squared_error: 1.8673
Epoch 219/300
121/121 [==============================] - 0s 4ms/step - loss: 1.8359 - mean_squared_error: 1.8359
Epoch 220/300
121/121 [==============================] - 0s 4ms/step - loss: 1.8354 - mean_squared_error: 1.8354
Epoch 221/300
121/121 [==============================] - 0s 4ms/step - loss: 1.8165 - mean_squared_error: 1.8165
Epoch 222/300
121/121 [==============================] - 0s 3ms/step - loss: 1.8149 - mean_squared_error: 1.8149
Epoch 223/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8357 - mean_squared_error: 1.8357
Epoch 224/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8318 - mean_squared_error: 1.8318
Epoch 225/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8298 - mean_squared_error: 1.8298
Epoch 226/300
121/121 [==============================] - 0s 2ms/step - loss: 6.0520 - mean_squared_error: 6.0520
Epoch 227/300
121/121 [==============================] - 0s 2ms/step - loss: 2.8010 - mean_squared_error: 2.8010
Epoch 228/300
121/121 [==============================] - 0s 2ms/step - loss: 2.5964 - mean_squared_error: 2.5964
Epoch 229/300
121/121 [==============================] - 0s 2ms/step - loss: 1.9082 - mean_squared_error: 1.9082
Epoch 230/300
121/121 [==============================] - 0s 2ms/step - loss: 2.8209 - mean_squared_error: 2.8209
Epoch 231/300
121/121 [==============================] - 0s 2ms/step - loss: 2.0488 - mean_squared_error: 2.0488
Epoch 232/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8488 - mean_squared_error: 1.8488
Epoch 233/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8473 - mean_squared_error: 1.8473
Epoch 234/300
121/121 [==============================] - 0s 2ms/step - loss: 2.0445 - mean_squared_error: 2.0445
Epoch 235/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8641 - mean_squared_error: 1.8641
Epoch 236/300
121/121 [==============================] - 0s 2ms/step - loss: 1.7964 - mean_squared_error: 1.7964
Epoch 237/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8690 - mean_squared_error: 1.8690
Epoch 238/300
121/121 [==============================] - 0s 2ms/step - loss: 3.2582 - mean_squared_error: 3.2582
Epoch 239/300
121/121 [==============================] - 0s 2ms/step - loss: 3.4193 - mean_squared_error: 3.4193
Epoch 240/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8866 - mean_squared_error: 1.8866
Epoch 241/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8399 - mean_squared_error: 1.8399
Epoch 242/300
121/121 [==============================] - 0s 2ms/step - loss: 1.9085 - mean_squared_error: 1.9085
Epoch 243/300
121/121 [==============================] - 0s 2ms/step - loss: 2.2557 - mean_squared_error: 2.2557
Epoch 244/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8407 - mean_squared_error: 1.8407
Epoch 245/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8361 - mean_squared_error: 1.8361
Epoch 246/300
121/121 [==============================] - 0s 2ms/step - loss: 2.1212 - mean_squared_error: 2.1212
Epoch 247/300
121/121 [==============================] - 0s 2ms/step - loss: 1.9657 - mean_squared_error: 1.9657
Epoch 248/300
121/121 [==============================] - 0s 2ms/step - loss: 1.7915 - mean_squared_error: 1.7915
Epoch 249/300
121/121 [==============================] - 0s 2ms/step - loss: 1.7733 - mean_squared_error: 1.7733
Epoch 250/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8135 - mean_squared_error: 1.8135
Epoch 251/300
121/121 [==============================] - 0s 2ms/step - loss: 1.7847 - mean_squared_error: 1.7847
Epoch 252/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8052 - mean_squared_error: 1.8052
Epoch 253/300
121/121 [==============================] - 0s 2ms/step - loss: 1.7864 - mean_squared_error: 1.7864
Epoch 254/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8161 - mean_squared_error: 1.8161
Epoch 255/300
121/121 [==============================] - 0s 2ms/step - loss: 1.7941 - mean_squared_error: 1.7941
Epoch 256/300
121/121 [==============================] - 0s 2ms/step - loss: 1.7710 - mean_squared_error: 1.7710
Epoch 257/300
121/121 [==============================] - 0s 2ms/step - loss: 2.5379 - mean_squared_error: 2.5379
Epoch 258/300
121/121 [==============================] - 0s 3ms/step - loss: 3.1054 - mean_squared_error: 3.1054
Epoch 259/300
121/121 [==============================] - 0s 4ms/step - loss: 1.9754 - mean_squared_error: 1.9754
Epoch 260/300
121/121 [==============================] - 0s 3ms/step - loss: 1.7998 - mean_squared_error: 1.7998
Epoch 261/300
121/121 [==============================] - 0s 2ms/step - loss: 1.7781 - mean_squared_error: 1.7781
Epoch 262/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8747 - mean_squared_error: 1.8747
Epoch 263/300
121/121 [==============================] - 0s 2ms/step - loss: 1.7851 - mean_squared_error: 1.7851
Epoch 264/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8205 - mean_squared_error: 1.8205
Epoch 265/300
121/121 [==============================] - 0s 2ms/step - loss: 1.7766 - mean_squared_error: 1.7766
Epoch 266/300
121/121 [==============================] - 0s 2ms/step - loss: 1.7709 - mean_squared_error: 1.7709
Epoch 267/300
121/121 [==============================] - 0s 2ms/step - loss: 1.7646 - mean_squared_error: 1.7646
Epoch 268/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8526 - mean_squared_error: 1.8526
Epoch 269/300
121/121 [==============================] - 0s 2ms/step - loss: 1.7647 - mean_squared_error: 1.7647
Epoch 270/300
121/121 [==============================] - 0s 2ms/step - loss: 1.7872 - mean_squared_error: 1.7872
Epoch 271/300
121/121 [==============================] - 0s 2ms/step - loss: 6.4223 - mean_squared_error: 6.4223
Epoch 272/300
121/121 [==============================] - 0s 2ms/step - loss: 2.4543 - mean_squared_error: 2.4543
Epoch 273/300
121/121 [==============================] - 0s 2ms/step - loss: 1.8616 - mean_squared_error: 1.8616
Epoch 274/300
121/121 [==============================] - 0s 2ms/step - loss: 2.9035 - mean_squared_error: 2.9035
Epoch 275/300
121/121 [==============================] - 0s 3ms/step - loss: 2.0339 - mean_squared_error: 2.0339
Epoch 276/300
121/121 [==============================] - 1s 4ms/step - loss: 1.8106 - mean_squared_error: 1.8106
Epoch 277/300
121/121 [==============================] - 0s 2ms/step - loss: 1.7756 - mean_squared_error: 1.7756
Epoch 278/300
121/121 [==============================] - 0s 2ms/step - loss: 1.7626 - mean_squared_error: 1.7626
Epoch 279/300
121/121 [==============================] - 0s 2ms/step - loss: 1.7719 - mean_squared_error: 1.7719
Epoch 280/300
121/121 [==============================] - 0s 2ms/step - loss: 1.7547 - mean_squared_error: 1.7547
Epoch 281/300
121/121 [==============================] - 0s 2ms/step - loss: 1.7592 - mean_squared_error: 1.7592
Epoch 282/300
121/121 [==============================] - 0s 2ms/step - loss: 1.7639 - mean_squared_error: 1.7639
Epoch 283/300
121/121 [==============================] - 0s 2ms/step - loss: 3.7616 - mean_squared_error: 3.7616
Epoch 284/300
121/121 [==============================] - 0s 2ms/step - loss: 2.3868 - mean_squared_error: 2.3868
Epoch 285/300
121/121 [==============================] - 0s 2ms/step - loss: 1.7947 - mean_squared_error: 1.7947
Epoch 286/300
121/121 [==============================] - 0s 2ms/step - loss: 1.7661 - mean_squared_error: 1.7661
Epoch 287/300
121/121 [==============================] - 0s 2ms/step - loss: 1.7546 - mean_squared_error: 1.7546
Epoch 288/300

121/121 [==============================] - 0s 2ms/step - loss: 1.7451 - mean_squared_error: 1.7451
Epoch 289/300
121/121 [==============================] - 0s 2ms/step - loss: 1.7421 - mean_squared_error: 1.7421
Epoch 290/300
121/121 [==============================] - 0s 2ms/step - loss: 2.0983 - mean_squared_error: 2.0983
Epoch 291/300
121/121 [==============================] - 0s 2ms/step - loss: 1.7538 - mean_squared_error: 1.7538
Epoch 292/300
121/121 [==============================] - 0s 2ms/step - loss: 1.7647 - mean_squared_error: 1.7647
Epoch 293/300
121/121 [==============================] - 0s 3ms/step - loss: 1.7388 - mean_squared_error: 1.7388
Epoch 294/300
121/121 [==============================] - 0s 3ms/step - loss: 1.7943 - mean_squared_error: 1.7943
Epoch 295/300
121/121 [==============================] - 0s 3ms/step - loss: 1.8506 - mean_squared_error: 1.8506
Epoch 296/300
121/121 [==============================] - 0s 3ms/step - loss: 1.7468 - mean_squared_error: 1.7468
Epoch 297/300
121/121 [==============================] - 0s 3ms/step - loss: 1.7616 - mean_squared_error: 1.7616
Epoch 298/300
121/121 [==============================] - 0s 3ms/step - loss: 1.7343 - mean_squared_error: 1.7343
Epoch 299/300
121/121 [==============================] - 0s 3ms/step - loss: 1.7632 - mean_squared_error: 1.7632
Epoch 300/300
121/121 [==============================] - 0s 4ms/step - loss: 1.8581 - mean_squared_error: 1.8581

In [26]:
# Get a Dictionary containing the pairs of column names & data type objects.
print('Data type of each column of Dataframe :')
print(dict(masterDS.dtypes))

Data type of each column of Dataframe :
{'customer_id': dtype('float64'), 'order_id': dtype('float64'), 'weather': dtype('float64'), 'item_id': dtype('float64'), 'taste_profile': dtype('float64'), 'item_type': dtype('float64'), 'order_month1': dtype('float64'), 'order_month2': dtype('float64'), 'order_day1': dtype('float64'), 'order_day2': dtype('float64'), 'order_hour1': dtype('float64'), 'order_hour2': dtype('float64'), 'order_minute1': dtype('float64'), 'order_minute2': dtype('float64'), 'order_second1': dtype('float64'), 'order_second2': dtype('float64'), 'order_weekday1': dtype('float64'), 'order_weekday2': dtype('float64')}

In [27]:
pred_train= model.predict(X_test)
print(np.sqrt(mean_squared_error(y_test,pred_train)))

#model.predict([40.0,139.0, 0.0, 4.99, 0.00, ])

print(pred_train)
pd.DataFrame(pred_train).head

1.484482446460314
[[16.201416  ]
 [ 3.5821662 ]
 [ 7.6188345 ]
 [21.42186   ]
 [ 3.520872  ]
 [11.699894  ]
 [19.151644  ]
 [16.014765  ]
 [ 3.4788225 ]
 [11.719923  ]
 [ 3.5796793 ]
 [15.987271  ]
 [ 3.638366  ]
 [16.026148  ]
 [16.064447  ]
 [15.972255  ]
 [19.187706  ]
 [11.794941  ]
 [ 2.9596214 ]
 [16.006668  ]
 [21.481348  ]
 [ 8.086456  ]
 [ 7.7338276 ]
 [20.6325    ]
 [11.797814  ]
 [ 3.2493744 ]
 [11.77181   ]
 [11.744959  ]
 [19.523365  ]
 [ 3.749228  ]
 [19.288176  ]
 [16.116076  ]
 [ 2.2862582 ]
 [16.113226  ]
 [ 3.4860344 ]
 [21.541456  ]
 [11.687425  ]
 [11.776723  ]
 [19.110794  ]
 [15.996136  ]
 [16.031858  ]
 [ 3.4967558 ]
 [11.953357  ]
 [ 3.5763893 ]
 [ 3.5542302 ]
 [ 3.443122  ]
 [ 7.7795143 ]
 [ 7.3439093 ]
 [ 3.7359104 ]
 [ 3.3768215 ]
 [ 7.4002066 ]
 [11.844688  ]
 [11.751951  ]
 [11.821039  ]
 [16.13252   ]
 [ 3.4825678 ]
 [16.114838  ]
 [ 3.072657  ]
 [ 3.5158298 ]
 [16.066614  ]
 [21.42595   ]
 [16.187826  ]
 [ 3.436226  ]
 [16.349997  ]
 [19.067966  ]
 [ 3.409618  ]
 [ 8.031615  ]
 [ 7.5715723 ]
 [11.781766  ]
 [11.742277  ]
 [19.024414  ]
 [11.724773  ]
 [ 7.28154   ]
 [ 3.93297   ]
 [ 3.4452732 ]
 [19.065163  ]
 [11.701765  ]
 [12.03849   ]
 [ 2.4162576 ]
 [ 3.2254953 ]
 [15.821369  ]
 [21.359718  ]
 [ 3.0986133 ]
 [15.980175  ]
 [15.788575  ]
 [ 7.0413256 ]
 [11.760993  ]
 [ 1.6004078 ]
 [ 3.4833302 ]
 [21.564459  ]
 [ 2.3814054 ]
 [16.298357  ]
 [11.721797  ]
 [ 3.5259778 ]
 [12.503189  ]
 [11.698748  ]
 [11.688148  ]
 [ 3.5576997 ]
 [21.454384  ]
 [11.762751  ]
 [ 7.305025  ]
 [ 3.5363169 ]
 [ 3.095222  ]
 [19.450191  ]
 [ 3.5088377 ]
 [ 2.7913065 ]
 [11.736419  ]
 [ 3.5353005 ]
 [12.773231  ]
 [12.647516  ]
 [21.249973  ]
 [ 7.4323883 ]
 [16.24501   ]
 [19.072262  ]
 [16.094221  ]
 [11.695492  ]
 [ 3.4874277 ]
 [ 7.273097  ]
 [ 3.644344  ]
 [16.013105  ]
 [19.324749  ]
 [11.785798  ]
 [ 7.7323275 ]
 [16.141748  ]
 [15.956709  ]
 [10.871323  ]
 [11.806798  ]
 [11.7508135 ]
 [12.647516  ]
 [ 3.467526  ]
 [15.945321  ]
 [12.387819  ]
 [15.982413  ]
 [12.992605  ]
 [ 2.9721403 ]
 [20.959896  ]
 [12.058988  ]
 [ 2.9234107 ]
 [19.163132  ]
 [19.25496   ]
 [ 3.6433291 ]
 [19.13317   ]
 [ 8.290691  ]
 [11.683721  ]
 [11.718558  ]
 [12.272312  ]
 [ 7.4771833 ]
 [21.498709  ]
 [ 3.3680143 ]
 [11.721012  ]
 [13.018214  ]
 [11.772198  ]
 [18.998526  ]
 [ 3.6074233 ]
 [ 3.8422465 ]
 [16.51022   ]
 [ 3.494104  ]
 [ 7.7823305 ]
 [21.41575   ]
 [15.807783  ]
 [11.804157  ]
 [ 3.5098271 ]
 [11.691156  ]
 [ 8.341493  ]
 [ 2.4123251 ]
 [19.214018  ]
 [16.095465  ]
 [15.943073  ]
 [ 3.3939626 ]
 [15.99807   ]
 [ 3.443902  ]
 [11.711836  ]
 [16.11232   ]
 [19.333355  ]
 [ 9.996397  ]
 [11.732009  ]
 [11.749112  ]
 [19.047253  ]
 [16.509697  ]
 [ 3.7213893 ]
 [ 3.7434936 ]
 [11.751458  ]
 [ 3.191527  ]
 [19.307436  ]
 [11.731097  ]
 [ 9.94201   ]
 [11.826425  ]
 [19.176874  ]
 [19.058733  ]
 [19.202574  ]
 [11.707191  ]
 [11.715473  ]
 [ 3.9627416 ]
 [16.1511    ]
 [ 7.885129  ]
 [11.730084  ]
 [21.447098  ]
 [16.102757  ]
 [16.05297   ]
 [19.045063  ]
 [12.395995  ]
 [19.159101  ]
 [ 3.5717208 ]
 [12.95001   ]
 [ 3.4710755 ]
 [16.111412  ]
 [19.338251  ]
 [11.729898  ]
 [11.679341  ]
 [11.711582  ]
 [ 3.3873172 ]
 [11.821861  ]
 [ 2.0933506 ]
 [13.265056  ]
 [11.768498  ]
 [21.437323  ]
 [18.954132  ]
 [12.06923   ]
 [ 2.6500459 ]
 [ 3.4496565 ]
 [11.765047  ]
 [11.695631  ]
 [ 8.272507  ]
 [12.61827   ]
 [16.081308  ]
 [11.780132  ]
 [16.327318  ]
 [21.127752  ]
 [ 3.468203  ]
 [ 3.771773  ]
 [ 1.4082191 ]
 [21.302778  ]
 [ 2.9412522 ]
 [16.119257  ]
 [16.069185  ]
 [11.657053  ]
 [11.887001  ]
 [ 3.438901  ]
 [ 7.726756  ]
 [ 3.5500703 ]
 [19.16261   ]
 [19.385427  ]
 [19.191517  ]
 [ 1.396001  ]
 [15.929036  ]
 [ 3.4108047 ]
 [11.793004  ]
 [11.877634  ]
 [ 7.8850965 ]
 [19.367598  ]
 [ 3.5858202 ]
 [ 3.3534243 ]
 [ 3.4927173 ]
 [ 3.4404838 ]
 [16.082724  ]
 [ 3.6580052 ]
 [19.269     ]
 [12.407786  ]
 [ 3.3992536 ]
 [21.157478  ]
 [19.186794  ]
 [ 4.027789  ]
 [11.743213  ]
 [ 3.5879986 ]
 [19.284561  ]
 [16.03703   ]
 [19.278141  ]
 [21.417631  ]
 [ 7.5513687 ]
 [ 3.3616006 ]
 [ 8.058619  ]
 [ 3.442281  ]
 [19.022984  ]
 [ 3.5915642 ]
 [ 7.786229  ]
 [11.683915  ]
 [19.191101  ]
 [16.070698  ]
 [11.707417  ]
 [13.199104  ]
 [ 3.420494  ]
 [ 3.435431  ]
 [ 8.079062  ]
 [ 3.7478724 ]
 [ 3.540543  ]
 [ 3.4746008 ]
 [21.475773  ]
 [ 3.5988    ]
 [19.077559  ]
 [ 3.522492  ]
 [11.498075  ]
 [ 3.3906178 ]
 [ 7.7723026 ]
 [ 7.656781  ]
 [ 3.5218258 ]
 [12.091926  ]
 [11.679679  ]
 [16.208397  ]
 [ 3.5237665 ]
 [11.550774  ]
 [11.769748  ]
 [ 7.721081  ]
 [19.0451    ]
 [ 8.044328  ]
 [11.810183  ]
 [11.7804575 ]
 [11.93279   ]
 [15.981815  ]
 [ 3.422448  ]
 [19.069075  ]
 [ 3.6194732 ]
 [ 3.5835109 ]
 [ 3.4900525 ]
 [ 7.7200413 ]
 [11.753504  ]
 [ 8.161399  ]
 [11.914261  ]
 [19.19884   ]
 [11.683721  ]
 [19.22075   ]
 [ 3.433377  ]
 [16.01716   ]
 [11.772489  ]
 [ 3.3524106 ]
 [11.770156  ]
 [11.746628  ]
 [11.678141  ]
 [ 7.197876  ]
 [11.806524  ]
 [19.239029  ]
 [ 3.4759426 ]
 [ 3.4982631 ]
 [12.121894  ]
 [12.033295  ]
 [19.22572   ]
 [ 9.964204  ]
 [15.991888  ]
 [11.860334  ]
 [ 3.365902  ]
 [11.731996  ]
 [11.764488  ]
 [ 2.7781343 ]
 [11.844688  ]
 [11.712983  ]
 [11.377362  ]
 [15.96033   ]
 [11.853192  ]
 [ 3.3566163 ]
 [11.770269  ]
 [ 2.8957996 ]
 [12.29854   ]
 [21.378477  ]
 [13.356209  ]
 [11.706365  ]
 [11.749004  ]
 [16.051897  ]
 [ 7.934407  ]
 [10.425406  ]
 [ 3.6524234 ]
 [ 4.1622047 ]
 [19.222803  ]
 [11.743477  ]
 [16.637337  ]
 [21.402     ]
 [11.898834  ]
 [11.692592  ]
 [ 3.4110057 ]
 [11.745305  ]
 [18.946823  ]
 [11.754935  ]
 [ 8.059957  ]
 [19.290264  ]
 [11.721012  ]
 [ 2.3814054 ]
 [19.322079  ]
 [16.004549  ]
 [ 3.5326836 ]
 [16.176146  ]
 [ 3.4578736 ]
 [ 2.9049125 ]
 [15.978785  ]
 [21.46818   ]
 [21.338392  ]
 [ 7.2359667 ]
 [11.735659  ]
 [11.73221   ]
 [16.166977  ]
 [19.191238  ]
 [ 3.600369  ]
 [11.439617  ]
 [19.156235  ]
 [ 3.50674   ]
 [ 2.0850747 ]
 [13.042233  ]
 [ 7.923422  ]
 [19.298056  ]
 [11.967953  ]
 [ 3.3613412 ]
 [19.215652  ]
 [ 3.4480584 ]
 [21.586735  ]
 [19.157595  ]
 [ 8.023655  ]
 [19.034628  ]
 [16.052689  ]
 [ 7.522523  ]
 [ 7.3417654 ]
 [16.252853  ]
 [19.197699  ]
 [ 3.6121721 ]
 [19.109951  ]
 [21.247572  ]
 [15.9738035 ]
 [ 3.4860344 ]
 [19.082722  ]
 [11.819848  ]
 [19.012447  ]
 [ 3.4297702 ]
 [ 3.6118326 ]
 [13.476234  ]
 [11.7282505 ]
 [16.165882  ]
 [ 3.435779  ]
 [13.13175   ]
 [11.720845  ]
 [15.964623  ]
 [16.010756  ]
 [16.063     ]
 [11.680455  ]
 [11.765718  ]
 [15.997822  ]
 [19.340397  ]
 [ 5.158304  ]
 [19.226294  ]
 [ 3.773282  ]
 [ 4.612028  ]
 [ 7.9430676 ]
 [ 7.6337566 ]
 [ 8.093838  ]
 [12.794268  ]
 [ 3.6584098 ]
 [19.166561  ]
 [11.752314  ]
 [16.30792   ]
 [ 7.588587  ]
 [ 8.168341  ]
 [16.37842   ]
 [ 3.3553605 ]
 [ 3.443189  ]
 [19.275692  ]
 [ 3.5195365 ]
 [16.1766    ]
 [16.216198  ]
 [12.082809  ]
 [ 7.4225836 ]
 [ 7.894494  ]
 [11.778745  ]
 [11.739782  ]
 [19.1739    ]
 [16.158983  ]
 [11.787338  ]
 [11.819816  ]
 [11.796044  ]
 [11.785774  ]
 [19.278425  ]
 [11.664762  ]
 [ 3.6199203 ]
 [11.749004  ]
 [11.694744  ]
 [21.553646  ]
 [ 3.562032  ]
 [ 7.2903204 ]
 [15.94648   ]
 [11.7902975 ]
 [19.250647  ]
 [ 5.801258  ]
 [15.95618   ]
 [16.018766  ]
 [ 3.3440032 ]
 [ 8.010086  ]
 [ 2.8773332 ]
 [ 3.6087549 ]
 [11.789841  ]
 [ 3.5425584 ]
 [ 3.479498  ]
 [16.141378  ]
 [12.474339  ]
 [11.73012   ]
 [ 0.80311906]
 [ 3.2934208 ]
 [ 3.417975  ]
 [ 2.2949388 ]
 [ 3.4154963 ]
 [ 8.273333  ]
 [11.736118  ]
 [15.958061  ]
 [11.697988  ]
 [19.1157    ]
 [11.735659  ]
 [ 2.3969345 ]
 [11.753031  ]
 [11.713345  ]
 [ 7.932247  ]
 [10.918338  ]
 [15.932699  ]
 [ 4.6260815 ]
 [ 3.4764833 ]
 [ 8.100589  ]
 [11.731996  ]
 [ 3.550301  ]
 [ 3.5614662 ]
 [ 3.4689684 ]
 [15.912031  ]
 [16.297174  ]
 [11.53505   ]
 [ 2.427632  ]
 [16.062756  ]
 [12.080705  ]
 [11.730768  ]
 [11.773995  ]
 [19.118727  ]
 [11.760697  ]
 [21.527569  ]
 [ 1.9645863 ]
 [16.065987  ]
 [ 3.4503136 ]
 [ 3.5549738 ]
 [12.179501  ]
 [ 3.1320758 ]
 [11.697751  ]
 [11.775468  ]
 [19.34457   ]
 [16.257427  ]
 [ 3.5336118 ]
 [ 3.5397754 ]
 [ 3.372786  ]
 [ 7.5994587 ]
 [ 2.6976662 ]
 [11.815041  ]
 [ 3.4724176 ]
 [ 2.1217642 ]
 [21.466253  ]
 [19.156044  ]
 [11.821039  ]
 [ 3.7342236 ]
 [ 7.258027  ]
 [11.679679  ]
 [11.735476  ]
 [18.986156  ]
 [ 3.6469915 ]
 [11.745237  ]
 [18.949484  ]
 [ 7.603759  ]
 [18.836323  ]
 [ 7.4041967 ]
 [18.881676  ]
 [ 4.106799  ]
 [12.454788  ]
 [11.782671  ]
 [19.433777  ]
 [11.735657  ]
 [15.948918  ]
 [ 2.6794672 ]
 [ 7.931402  ]
 [21.428696  ]
 [ 7.8935413 ]
 [11.751207  ]
 [ 3.718947  ]
 [ 3.571176  ]
 [19.152296  ]
 [19.217955  ]
 [11.693127  ]
 [ 7.4676323 ]
 [11.771706  ]
 [11.796671  ]
 [16.841425  ]
 [12.297095  ]
 [ 3.4709258 ]
 [19.056252  ]
 [ 3.070024  ]
 [19.322355  ]
 [ 7.9590263 ]
 [ 3.4131994 ]
 [ 3.506332  ]
 [21.486021  ]
 [ 3.7434936 ]
 [11.659975  ]
 [ 3.6923232 ]
 [11.439617  ]
 [ 7.6628647 ]
 [19.26382   ]
 [11.706293  ]
 [11.7322    ]
 [ 3.579668  ]
 [19.297676  ]
 [ 3.6454248 ]
 [11.753504  ]
 [11.802882  ]
 [ 3.6481397 ]
 [19.255295  ]
 [11.705756  ]
 [ 3.6637888 ]
 [15.930633  ]
 [ 7.2797194 ]
 [11.706363  ]
 [19.448378  ]
 [ 1.4082191 ]
 [11.704479  ]
 [11.786235  ]
 [ 3.6056426 ]
 [16.266464  ]
 [11.691156  ]
 [11.73268   ]
 [11.538863  ]
 [ 7.674487  ]
 [ 3.083573  ]
 [ 8.852882  ]
 [11.769314  ]
 [11.719185  ]
 [ 7.721178  ]
 [11.764275  ]
 [ 3.5203972 ]
 [12.794268  ]
 [11.75119   ]
 [21.41131   ]
 [19.536943  ]
 [ 7.411457  ]
 [ 8.270481  ]
 [ 3.2510266 ]
 [11.720668  ]
 [11.785023  ]
 [ 3.4235668 ]
 [10.083199  ]
 [ 3.5852096 ]
 [11.711582  ]
 [ 3.579668  ]
 [ 2.240558  ]
 [11.678252  ]
 [11.776357  ]
 [ 3.448957  ]
 [ 3.506332  ]
 [12.607014  ]
 [ 3.5692291 ]
 [ 7.637601  ]
 [18.999695  ]
 [ 3.7458093 ]
 [16.067379  ]
 [11.725975  ]
 [16.07053   ]
 [11.53505   ]
 [19.15812   ]
 [ 2.6100714 ]
 [16.136034  ]
 [19.144114  ]
 [ 7.2978363 ]
 [19.089005  ]
 [11.719243  ]
 [19.65147   ]
 [11.762224  ]
 [12.213729  ]
 [ 4.6260815 ]
 [16.138966  ]
 [19.28056   ]
 [11.695177  ]
 [12.130965  ]
 [19.220842  ]
 [16.053621  ]
 [11.804157  ]
 [16.040438  ]
 [19.246542  ]
 [21.311815  ]
 [11.76378   ]
 [12.174262  ]
 [16.03155   ]
 [ 3.5020537 ]
 [11.767797  ]
 [15.907587  ]
 [11.685634  ]
 [20.878918  ]
 [19.124657  ]
 [16.08113   ]
 [11.773414  ]
 [11.7681265 ]
 [ 3.434318  ]
 [19.055012  ]
 [19.265078  ]
 [16.065607  ]
 [11.735859  ]
 [11.937656  ]
 [21.528692  ]
 [16.06082   ]
 [11.7825775 ]
 [11.696679  ]
 [ 3.604339  ]
 [16.015287  ]
 [11.6089735 ]
 [ 7.916649  ]
 [19.218777  ]
 [16.030167  ]
 [ 3.7171555 ]
 [ 7.382641  ]
 [19.1358    ]
 [21.507013  ]
 [11.704511  ]
 [19.4278    ]
 [16.02226   ]
 [ 3.5901651 ]
 [16.06678   ]
 [ 4.0205727 ]
 [16.139381  ]
 [ 2.2185879 ]
 [11.769712  ]
 [ 3.6071775 ]
 [19.254202  ]
 [ 3.5692291 ]
 [15.9977665 ]
 [11.730155  ]
 [16.185858  ]
 [11.625751  ]
 [16.249603  ]
 [21.463037  ]
 [11.682153  ]
 [ 3.5971267 ]
 [12.787388  ]
 [16.029991  ]
 [ 2.4059749 ]
 [12.164272  ]
 [12.374722  ]
 [19.333437  ]
 [ 3.602436  ]
 [16.124804  ]
 [ 3.469511  ]
 [13.673307  ]
 [ 3.4682732 ]
 [ 3.4879146 ]
 [ 3.5716333 ]
 [12.025541  ]
 [16.091583  ]
 [16.109299  ]
 [ 7.3430367 ]
 [15.972067  ]
 [21.535166  ]
 [ 2.2866237 ]
 [11.720522  ]
 [ 3.5410388 ]
 [11.734862  ]
 [16.107088  ]
 [ 2.4583135 ]
 [15.737322  ]
 [ 3.4746656 ]
 [ 4.019967  ]
 [11.756096  ]
 [ 3.360133  ]
 [11.654458  ]
 [ 7.436142  ]
 [ 2.4157965 ]
 [11.819122  ]
 [ 3.394928  ]
 [11.715029  ]
 [ 7.8928347 ]
 [19.26359   ]
 [21.419773  ]
 [16.723637  ]
 [ 3.4810824 ]
 [ 7.578882  ]
 [18.884829  ]
 [ 3.5559683 ]
 [11.764565  ]
 [15.941638  ]
 [ 8.067957  ]
 [11.783111  ]
 [ 7.8535566 ]
 [11.701092  ]
 [11.79512   ]
 [ 4.240324  ]
 [11.799331  ]
 [ 7.834114  ]
 [11.8290615 ]
 [ 7.317526  ]
 [12.550009  ]
 [12.010982  ]
 [16.155321  ]
 [ 3.5971267 ]
 [11.743003  ]
 [11.756606  ]
 [11.706778  ]
 [11.756491  ]
 [ 2.8926518 ]
 [19.300488  ]
 [ 2.2599123 ]
 [19.071047  ]
 [ 4.019967  ]
 [16.621098  ]
 [16.207932  ]
 [ 3.5649512 ]
 [11.712974  ]
 [19.201038  ]
 [21.46321   ]
 [19.27462   ]
 [16.0773    ]
 [16.139725  ]
 [18.97452   ]
 [19.131092  ]
 [ 3.5221095 ]
 [21.604446  ]
 [ 3.506875  ]
 [11.728281  ]
 [ 3.5238779 ]
 [11.74912   ]
 [11.710091  ]
 [ 3.644344  ]
 [ 7.921872  ]
 [16.1635    ]
 [ 3.4538548 ]
 [15.987582  ]
 [ 3.3982854 ]
 [19.254202  ]
 [ 3.439539  ]
 [15.987465  ]
 [13.571989  ]
 [21.475151  ]
 [ 3.4767923 ]
 [10.062181  ]
 [11.757545  ]
 [19.14839   ]
 [ 3.3896227 ]
 [21.06597   ]
 [ 7.547633  ]
 [19.191338  ]
 [21.329575  ]
 [18.974628  ]
 [ 7.390256  ]
 [ 3.8624692 ]
 [21.181894  ]
 [10.545633  ]
 [19.22911   ]
 [19.385319  ]
 [ 3.2046409 ]
 [ 3.0651762 ]
 [ 3.708211  ]
 [19.196346  ]
 [21.336784  ]
 [21.137108  ]
 [ 3.4738743 ]
 [11.769647  ]
 [12.550009  ]
 [ 7.4835415 ]
 [19.40845   ]
 [21.396667  ]
 [19.262316  ]
 [19.310074  ]
 [16.168213  ]
 [ 7.9430504 ]
 [19.177145  ]
 [11.734127  ]
 [ 3.6126268 ]
 [ 3.409618  ]
 [11.775395  ]
 [ 8.041239  ]
 [16.104511  ]
 [19.288784  ]
 [11.769166  ]
 [ 4.473898  ]
 [16.079758  ]
 [19.274837  ]
 [ 3.7823157 ]
 [ 3.4988797 ]
 [ 3.6743789 ]
 [ 3.5378783 ]
 [11.736678  ]
 [11.737769  ]
 [ 3.5187898 ]
 [ 3.495197  ]
 [11.697494  ]
 [ 7.6104918 ]
 [12.69777   ]
 [11.790446  ]
 [11.878952  ]
 [ 2.3276558 ]
 [19.245403  ]
 [ 3.5901651 ]
 [ 3.623364  ]
 [ 7.5492525 ]
 [15.980912  ]
 [21.22377   ]
 [ 3.6819148 ]
 [ 7.3238525 ]
 [ 8.032258  ]
 [ 3.517806  ]
 [11.763678  ]
 [12.007407  ]
 [13.007072  ]
 [ 3.7871103 ]
 [ 3.5350697 ]
 [16.080534  ]
 [21.498991  ]
 [ 8.489896  ]
 [ 3.495197  ]
 [ 7.318489  ]
 [ 7.3471136 ]
 [16.079824  ]
 [16.368458  ]
 [ 3.2777143 ]
 [11.729211  ]
 [12.243628  ]
 [19.186794  ]
 [11.90558   ]
 [19.211264  ]
 [ 3.3896227 ]
 [10.527954  ]
 [11.77181   ]
 [11.81542   ]
 [11.707417  ]
 [19.0634    ]
 [ 3.7415612 ]
 [ 3.5140133 ]
 [16.010088  ]
 [11.793258  ]
 [19.023184  ]
 [11.692994  ]
 [ 7.5068645 ]
 [16.355051  ]
 [11.749871  ]
 [11.67972   ]
 [21.3208    ]
 [21.233053  ]
 [ 7.397848  ]
 [ 7.560004  ]
 [ 4.8759966 ]
 [19.366825  ]
 [21.317104  ]
 [ 3.3970299 ]
 [ 3.5011754 ]
 [19.174234  ]
 [21.303646  ]
 [ 7.5300875 ]
 [ 7.580724  ]
 [15.854913  ]
 [16.949007  ]
 [19.300758  ]
 [11.763717  ]
 [ 2.9308803 ]
 [ 7.94363   ]
 [ 3.6839628 ]
 [12.238408  ]
 [16.204784  ]
 [ 7.942381  ]
 [ 7.968938  ]
 [ 3.4901123 ]
 [16.417307  ]
 [ 1.9535339 ]
 [ 3.3770459 ]
 [16.085289  ]
 [11.771835  ]
 [16.302229  ]
 [ 7.4671574 ]
 [19.160599  ]
 [ 2.0326204 ]
 [21.520733  ]
 [ 3.4580193 ]
 [ 1.9573656 ]
 [ 2.571495  ]]

<bound method NDFrame.head of              0
0    16.201416
1     3.582166
2     7.618834
3    21.421860
4     3.520872
..         ...
957   2.032620
958  21.520733
959   3.458019
960   1.957366
961   2.571495

[962 rows x 1 columns]>

In [28]:
pd.DataFrame(X_test).head()

# X_test, y_test

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,-0.965926,148.0,0.0,-8.660254e-01,-0.309017,-0.897805,-0.440394,1.0,0.258819,1.0,-0.587785,-0.781831,-0.951057,-5.000000e-01,0.623490,1331.0,0.809017
1,0.258819,17.0,3.0,-8.660254e-01,-0.587785,0.968077,-0.250653,0.0,-0.965926,2.0,-0.309017,0.781831,-0.809017,5.000000e-01,0.623490,1888.0,-0.951057
2,-0.500000,64.0,2.0,6.123234e-17,0.500000,0.651372,-0.758758,4.0,-0.866025,2.0,0.500000,0.781831,-0.866025,1.000000e+00,0.623490,26.0,0.866025
3,0.500000,189.0,2.0,8.660254e-01,-0.587785,0.299363,-0.954139,3.0,0.866025,1.0,-0.866025,-0.974928,0.809017,-5.000000e-01,-0.222521,1288.0,0.500000
4,0.500000,110.0,3.0,-1.000000e+00,1.000000,0.937752,0.347305,0.0,-0.866025,2.0,-0.809017,-0.974928,0.000000,1.224647e-16,-0.222521,832.0,0.587785

In [29]:
code_to_item={}
for pair in itemID_Dict:
    code_to_item[itemID_Dict[pair][0]]=itemID_Dict[pair][1]
    
print(code_to_item)

{1: 'Double Cheeseburger', 2: 'Double Bacon Cheeseburger', 3: 'Bacon Cheeseburger', 4: 'Cheeseburger', 5: 'Double Hamburger', 6: 'Hamburger', 7: 'Veggie Burger', 8: 'Onion Rings', 9: 'Small Fries', 10: 'Regular Fries', 11: 'Large Fries', 12: 'Small Curly Fries', 13: 'Regular Curly Fries', 14: 'Large Curly Fries', 15: 'Small Drink', 16: 'Regular Drink', 17: 'Large Drink', 18: 'Small Shake', 19: 'Regular Shake', 20: 'Large Shake', 21: 'Coffee'}

In [30]:
results=pd.DataFrame(y_test)
results["prediction"]=(pred_train[:,0].astype(float)).tolist()

results.rename(columns={0:"true"}, inplace=True)


results["true_item_code"]=None
results["prediction_item_code"]=None
results["true_item_name"]=None
results["prediction_item_name"]=None

for i, row in results.iterrows():
    print(i)
    v1= min(round(row["true"]),len(code_to_item))
    v2= min(round(row["prediction"]),len(code_to_item))
#     if(v1<0):
#         v1=1
#     if(v2<0):
#         v2=1
    
    results.at[i, "true_item_code"] = v1
    results.at[i, "prediction_item_code"] = v2 
    
    results.at[i, "true_item_name"] = code_to_item[v1]
    results.at[i, "prediction_item_name"] = code_to_item[v2]

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961

In [31]:
results.head(25)

,true,prediction,true_item_code,prediction_item_code,true_item_name,prediction_item_name
0,16.0,16.201416,16,16,Regular Drink,Regular Drink
1,3.0,3.582166,3,4,Bacon Cheeseburger,Cheeseburger
2,7.0,7.618834,7,8,Veggie Burger,Onion Rings
3,21.0,21.421860,21,21,Coffee,Coffee
4,5.0,3.520872,5,4,Double Hamburger,Cheeseburger
5,13.0,11.699894,13,12,Regular Curly Fries,Small Curly Fries
6,19.0,19.151644,19,19,Regular Shake,Regular Shake
7,15.0,16.014765,15,16,Small Drink,Regular Drink
8,2.0,3.478822,2,3,Double Bacon Cheeseburger,Bacon Cheeseburger
9,14.0,11.719923,14,12,Large Curly Fries,Small Curly Fries
10,6.0,3.579679,6,4,Hamburger,Cheeseburger
11,15.0,15.987271,15,16,Small Drink,Regular Drink
12,4.0,3.638366,4,4,Cheeseburger,Cheeseburger
13,17.0,16.026148,17,16,Large Drink,Regular Drink
14,17.0,16.064447,17,16,Large Drink,Regular Drink
15,15.0,15.972255,15,16,Small Drink,Regular Drink
16,18.0,19.187706,18,19,Small Shake,Regular Shake
17,11.0,11.794941,11,12,Large Fries,Small Curly Fries
18,2.0,2.959621,2,3,Double Bacon Cheeseburger,Bacon Cheeseburger
19,15.0,16.006668,15,16,Small Drink,Regular Drink
20,21.0,21.481348,21,21,Coffee,Coffee
21,8.0,8.086456,8,8,Onion Rings,Onion Rings
22,8.0,7.733828,8,8,Onion Rings,Onion Rings
23,21.0,20.632500,21,21,Coffee,Coffee
24,11.0,11.797814,11,12,Large Fries,Small Curly Fries

In [32]:
results.shape

(962, 6)

In [33]:
results.head(236)

,true,prediction,true_item_code,prediction_item_code,true_item_name,prediction_item_name
0,16.0,16.201416,16,16,Regular Drink,Regular Drink
1,3.0,3.582166,3,4,Bacon Cheeseburger,Cheeseburger
2,7.0,7.618834,7,8,Veggie Burger,Onion Rings
3,21.0,21.421860,21,21,Coffee,Coffee
4,5.0,3.520872,5,4,Double Hamburger,Cheeseburger
...,...,...,...,...,...,...
231,21.0,21.302778,21,21,Coffee,Coffee
232,6.0,2.941252,6,3,Hamburger,Bacon Cheeseburger
233,15.0,16.119257,15,16,Small Drink,Regular Drink
234,17.0,16.069185,17,16,Large Drink,Regular Drink
235,14.0,11.657053,14,12,Large Curly Fries,Small Curly Fries