In [1]:
import pandas as pd
import numpy as np
import datetime

import matplotlib.pyplot as plt
import sklearn


# Import necessary modules
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

import tensorflow as tf

# Keras specific
import keras
from keras.models import Sequential
from keras.layers import Dense

In [2]:
#!pip install tensorflow

#TODO - add day of year

In [3]:
#load data from data files and place into panda dataframes
custOrders = pd.read_csv('data/customer_orders.csv', low_memory=False)
temp2 = pd.read_csv('data/item_ingredients.csv', low_memory=False)
itemID=pd.read_csv('../SQL/item.csv')

In [4]:
#turn off panda max column display limit
print(pd.options.display.max_columns)
pd.options.display.max_columns
mns = None

20

In [5]:
#convert the boolean values into integers in the ingredients dataframe
#also print column names of dataframe

#manually arranges menu items onto a numberline
itemID=itemID.reindex([5,6,2,1,4,0,3,19,13,14,15,16,17,18,   7,8,9,10,11,12,20])

itemID['item_score'] = range(1, len(itemID) + 1)
itemID = itemID.drop("item_description", axis=1, errors='ignore')
itemID = itemID.drop("item_image", axis=1, errors='ignore')


#itemID = itemID.reset_index()
itemID_Dict={}
for i, row in itemID.iterrows():
    itemID_Dict[row.loc["item_id"]]=(row.loc["item_score"], row.loc["item_name"])

print(itemID_Dict)
itemID.head(100)

{640405112: (1, 'Double Cheeseburger'), 640405172: (2, 'Double Bacon Cheeseburger'), 640405025: (3, 'Bacon Cheeseburger'), 640404963: (4, 'Cheeseburger'), 640405085: (5, 'Double Hamburger'), 640404923: (6, 'Hamburger'), 640405058: (7, 'Veggie Burger'), 640405347: (8, 'Onion Rings'), 640405296: (9, 'Small Fries'), 640405307: (10, 'Regular Fries'), 640405315: (11, 'Large Fries'), 640405323: (12, 'Small Curly Fries'), 640405331: (13, 'Regular Curly Fries'), 640405339: (14, 'Large Curly Fries'), 640405355: (15, 'Small Drink'), 640405371: (16, 'Regular Drink'), 640405380: (17, 'Large Drink'), 640405389: (18, 'Small Shake'), 640405395: (19, 'Regular Shake'), 640405399: (20, 'Large Shake'), 640405348: (21, 'Coffee')}

,item_id,item_name,price,taste_profile,item_type,item_score
5,640405112,Double Cheeseburger,3.29,savory,burger,1
6,640405172,Double Bacon Cheeseburger,3.79,savory,burger,2
2,640405025,Bacon Cheeseburger,2.79,savory,burger,3
1,640404963,Cheeseburger,2.29,savory,burger,4
4,640405085,Double Hamburger,2.99,savory,burger,5
0,640404923,Hamburger,3.07,savory,burger,6
3,640405058,Veggie Burger,2.49,healthy,burger,7
19,640405347,Onion Rings,2.19,sweet,side,8
13,640405296,Small Fries,1.49,savory,side,9
14,640405307,Regular Fries,1.79,savory,side,10
15,640405315,Large Fries,2.09,savory,side,11
16,640405323,Small Curly Fries,1.49,savory,side,12
17,640405331,Regular Curly Fries,1.79,savory,side,13
18,640405339,Large Curly Fries,2.09,savory,side,14
7,640405355,Small Drink,1.59,chilling,beverage,15
8,640405371,Regular Drink,1.79,chilling,beverage,16
9,640405380,Large Drink,1.99,chilling,beverage,17
10,640405389,Small Shake,2.09,sweet,beverage,18
11,640405395,Regular Shake,2.29,sweet,beverage,19
12,640405399,Large Shake,2.49,sweet,beverage,20
20,640405348,Coffee,2.00,bitter,beverage,21

In [6]:
#print the binary version of the item-ingredient dataframe
temp2.head()
temp2.shape

(21, 20)

In [7]:
#change type to datetime
custOrders["order_timestamp"]=pd.to_datetime(custOrders["order_timestamp"])
custOrders.head()

,customer_id,opt_in,birthday,gender,order_id,weather,order_timestamp,item_id,item_name,item_description,item_image,price,taste_profile,item_type,customization_id,customization
0,170,True,1997-11-14,male,390,snowy,2019-09-01 21:27:18,640405085,Double Hamburger,Our top-quality hamburgers are made from hormo...,NaN,2.99,savory,burger,27.0,no onions
1,152,True,1999-11-14,male,1620,cloudy,2017-05-22 14:08:07,640405172,Double Bacon Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,3.79,savory,burger,47.0,no lettuce
2,186,True,1993-11-27,male,782,sunny,2019-01-16 04:50:55,640405172,Double Bacon Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,3.79,savory,burger,47.0,no lettuce
3,150,True,1994-03-07,female,1571,rainy,2019-06-19 00:30:29,640405085,Double Hamburger,Our top-quality hamburgers are made from hormo...,NaN,2.99,savory,burger,25.0,no lettuce
4,40,True,2003-07-04,female,240,sunny,2020-07-08 23:50:39,640404963,Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,2.29,savory,burger,9.0,no mustard

In [8]:
custOrders.head()

,customer_id,opt_in,birthday,gender,order_id,weather,order_timestamp,item_id,item_name,item_description,item_image,price,taste_profile,item_type,customization_id,customization
0,170,True,1997-11-14,male,390,snowy,2019-09-01 21:27:18,640405085,Double Hamburger,Our top-quality hamburgers are made from hormo...,NaN,2.99,savory,burger,27.0,no onions
1,152,True,1999-11-14,male,1620,cloudy,2017-05-22 14:08:07,640405172,Double Bacon Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,3.79,savory,burger,47.0,no lettuce
2,186,True,1993-11-27,male,782,sunny,2019-01-16 04:50:55,640405172,Double Bacon Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,3.79,savory,burger,47.0,no lettuce
3,150,True,1994-03-07,female,1571,rainy,2019-06-19 00:30:29,640405085,Double Hamburger,Our top-quality hamburgers are made from hormo...,NaN,2.99,savory,burger,25.0,no lettuce
4,40,True,2003-07-04,female,240,sunny,2020-07-08 23:50:39,640404963,Cheeseburger,Our top-quality hamburgers are made from hormo...,NaN,2.29,savory,burger,9.0,no mustard

In [9]:
#? unsure ----> item_name, item_description
#Think need more item related features, 

#function converts a cyclical data point(like time) into a 2 point representation on a circle 
def cycleEmbed(maximum, reading):
    maxi=maximum

    sin = np.sin(2*np.pi*reading/maxi)
    cos = np.cos(2*np.pi*reading/maxi)
    return (sin, cos)

In [10]:
#function takes a column name, dataframe, and then converts the column in the dataframe into a integers, 
#where each integer represents a unique value from that column
def enumerateCol(colName, dataFrame):
    count=0
    diction={}

    for i, row in dataFrame.iterrows():
        currentVal=row.loc[colName]
        if currentVal in diction:
            dataFrame.at[i, colName] = diction[currentVal]
        else:
            diction[currentVal]=count
            count+=1
            dataFrame.at[i, colName] = diction[currentVal]
            
#function enumerates column based on the itemID_Dict to 
def enumerateItemID(colName, dataFrame):
    count=0
    diction=itemID_Dict
    print(diction)
    for i, row in dataFrame.iterrows():
        currentVal=row.loc[colName]
        dataFrame.at[i, colName] = diction[currentVal][0]

In [11]:
# Get a Dictionary containing the pairs of column names & data type objects.

print('Data type of each column of Dataframe :')
print(dict(custOrders.dtypes))

Data type of each column of Dataframe :
{'customer_id': dtype('int64'), 'opt_in': dtype('bool'), 'birthday': dtype('O'), 'gender': dtype('O'), 'order_id': dtype('int64'), 'weather': dtype('O'), 'order_timestamp': dtype('<M8[ns]'), 'item_id': dtype('int64'), 'item_name': dtype('O'), 'item_description': dtype('O'), 'item_image': dtype('O'), 'price': dtype('float64'), 'taste_profile': dtype('O'), 'item_type': dtype('O'), 'customization_id': dtype('float64'), 'customization': dtype('O')}

In [12]:
#split timestamp in "order_timestamp" into a number of individual columns for each part of the timestamp
custOrders["order_timestamp"]=pd.to_datetime(custOrders["order_timestamp"])
custOrders["order_date"]=custOrders["order_timestamp"].dt.date
custOrders["order_year"]=custOrders["order_timestamp"].dt.year
custOrders["order_month"]=custOrders["order_timestamp"].dt.month
custOrders["order_day"]=custOrders["order_timestamp"].dt.day
custOrders["order_hour"]=custOrders["order_timestamp"].dt.hour
custOrders["order_minute"]=custOrders["order_timestamp"].dt.minute
custOrders["order_second"]=custOrders["order_timestamp"].dt.second

#create a column for the weekday(mon,tues, weds, ...etc)
#must convert to weekday below
custOrders["order_weekday"]=custOrders["order_day"]

for i, row in custOrders.iterrows():
    custOrders.at[i, "order_weekday"] = datetime.datetime(row["order_year"], row["order_month"],row["order_day"],0,0,0).weekday()

In [13]:
#drop columns which are optional(not all customers will use it), clearly not useful, or redundant

custOrders = custOrders.drop("item_image", axis=1, errors='ignore')
custOrders = custOrders.drop("order_timestamp", axis=1, errors='ignore') #information moved into other columns added above
custOrders = custOrders.drop("customization_id", axis=1, errors='ignore') #customization is no in every order
custOrders = custOrders.drop("customization", axis=1, errors='ignore')
custOrders = custOrders.drop("opt_in", axis=1, errors='ignore')
custOrders = custOrders.drop("item_description", axis=1, errors='ignore')

custOrders = custOrders.drop("birthday", axis=1, errors='ignore') #check if part of opt in
custOrders = custOrders.drop("gender", axis=1, errors='ignore') #check if part of opt in
#custOrders = custOrders.drop("item_name", axis=1) #reduntance since we have item id? we need 

custOrders = custOrders.drop("order_date", axis=1, errors='ignore') #check if part of opt in


custOrders.head(10)

,customer_id,order_id,weather,item_id,item_name,price,taste_profile,item_type,order_year,order_month,order_day,order_hour,order_minute,order_second,order_weekday
0,170,390,snowy,640405085,Double Hamburger,2.99,savory,burger,2019,9,1,21,27,18,6
1,152,1620,cloudy,640405172,Double Bacon Cheeseburger,3.79,savory,burger,2017,5,22,14,8,7,0
2,186,782,sunny,640405172,Double Bacon Cheeseburger,3.79,savory,burger,2019,1,16,4,50,55,2
3,150,1571,rainy,640405085,Double Hamburger,2.99,savory,burger,2019,6,19,0,30,29,2
4,40,240,sunny,640404963,Cheeseburger,2.29,savory,burger,2020,7,8,23,50,39,2
5,46,1841,cloudy,640405172,Double Bacon Cheeseburger,3.79,savory,burger,2019,12,2,14,50,30,0
6,123,1159,snowy,640405025,Bacon Cheeseburger,2.79,savory,burger,2020,8,20,7,43,6,3
7,38,1333,snowy,640405112,Double Cheeseburger,3.29,savory,burger,2018,3,26,0,15,40,0
8,22,1132,snowy,640405058,Veggie Burger,2.49,healthy,burger,2016,6,9,22,10,25,3
9,92,334,snowy,640405025,Bacon Cheeseburger,2.79,savory,burger,2020,1,6,7,13,25,0

In [14]:
#custOrders will represet the data before it has been enumerated and is only numbers
custOrders2=custOrders.copy()
custOrders2.head()

,customer_id,order_id,weather,item_id,item_name,price,taste_profile,item_type,order_year,order_month,order_day,order_hour,order_minute,order_second,order_weekday
0,170,390,snowy,640405085,Double Hamburger,2.99,savory,burger,2019,9,1,21,27,18,6
1,152,1620,cloudy,640405172,Double Bacon Cheeseburger,3.79,savory,burger,2017,5,22,14,8,7,0
2,186,782,sunny,640405172,Double Bacon Cheeseburger,3.79,savory,burger,2019,1,16,4,50,55,2
3,150,1571,rainy,640405085,Double Hamburger,2.99,savory,burger,2019,6,19,0,30,29,2
4,40,240,sunny,640404963,Cheeseburger,2.29,savory,burger,2020,7,8,23,50,39,2

In [15]:
#embed time values to cycles on a circle
def timeEmbed(df, colName, maxi):
    name1=colName+"1"
    name2=colName+"2"
    print(name1)
    print(name2)
    df[name1]=None
    df[name2]=None
    for i, row in df.iterrows():
        temp=cycleEmbed(maxi, row[colName])
        df.at[i, name1]=temp[0]
        df.at[i, name2]=temp[1]

#convert every time based column into a point on a circle with timeEmbed()    
timeEmbed(custOrders2, "order_month", 12)
timeEmbed(custOrders2, "order_day", 31)
timeEmbed(custOrders2, "order_hour", 24)
timeEmbed(custOrders2, "order_minute", 60)
timeEmbed(custOrders2, "order_second", 60)
timeEmbed(custOrders2, "order_weekday", 7)

order_month1
order_month2
order_day1
order_day2
order_hour1
order_hour2
order_minute1
order_minute2
order_second1
order_second2
order_weekday1
order_weekday2

In [16]:
#print all number version of the data

custOrders2.head(10)

,customer_id,order_id,weather,item_id,item_name,price,taste_profile,item_type,order_year,order_month,...,order_day1,order_day2,order_hour1,order_hour2,order_minute1,order_minute2,order_second1,order_second2,order_weekday1,order_weekday2
0,170,390,snowy,640405085,Double Hamburger,2.99,savory,burger,2019,9,...,0.201299,0.97953,-0.707107,0.707107,0.309017,-0.951057,0.951057,-0.309017,-0.781831,0.62349
1,152,1620,cloudy,640405172,Double Bacon Cheeseburger,3.79,savory,burger,2017,5,...,-0.968077,-0.250653,-0.5,-0.866025,0.743145,0.669131,0.669131,0.743145,0.0,1.0
2,186,782,sunny,640405172,Double Bacon Cheeseburger,3.79,savory,burger,2019,1,...,-0.101168,-0.994869,0.866025,0.5,-0.866025,0.5,-0.5,0.866025,0.974928,-0.222521
3,150,1571,rainy,640405085,Double Hamburger,2.99,savory,burger,2019,6,...,-0.651372,-0.758758,0.0,1.0,0.0,-1.0,0.104528,-0.994522,0.974928,-0.222521
4,40,240,sunny,640404963,Cheeseburger,2.29,savory,burger,2020,7,...,0.998717,-0.050649,-0.258819,0.965926,-0.866025,0.5,-0.809017,-0.587785,0.974928,-0.222521
5,46,1841,cloudy,640405172,Double Bacon Cheeseburger,3.79,savory,burger,2019,12,...,0.394356,0.918958,-0.5,-0.866025,-0.866025,0.5,0.0,-1.0,0.0,1.0
6,123,1159,snowy,640405025,Bacon Cheeseburger,2.79,savory,burger,2020,8,...,-0.790776,-0.612106,0.965926,-0.258819,-0.978148,-0.207912,0.587785,0.809017,0.433884,-0.900969
7,38,1333,snowy,640405112,Double Cheeseburger,3.29,savory,burger,2018,3,...,-0.848644,0.528964,0.0,1.0,1.0,0.0,-0.866025,-0.5,0.0,1.0
8,22,1132,snowy,640405058,Veggie Burger,2.49,healthy,burger,2016,6,...,0.968077,-0.250653,-0.5,0.866025,0.866025,0.5,0.5,-0.866025,0.433884,-0.900969
9,92,334,snowy,640405025,Bacon Cheeseburger,2.79,savory,burger,2020,1,...,0.937752,0.347305,0.965926,-0.258819,0.978148,0.207912,0.5,-0.866025,0.0,1.0

In [17]:
#begin splitting custOrders2 into training/validation sets, including moving supervision target(itemID) out

masterDS=custOrders2.copy()
masterDS = masterDS.drop("order_month", axis=1, errors='ignore')
masterDS = masterDS.drop("order_day", axis=1, errors='ignore')
masterDS = masterDS.drop("order_hour", axis=1, errors='ignore')
masterDS = masterDS.drop("order_year", axis=1, errors='ignore')
masterDS = masterDS.drop("order_minute", axis=1, errors='ignore')
masterDS = masterDS.drop("order_second", axis=1, errors='ignore')
masterDS = masterDS.drop("order_weekday", axis=1, errors='ignore')


masterDS = masterDS.drop("item_image", axis=1, errors='ignore')
masterDS = masterDS.drop("birthday", axis=1, errors='ignore')


#masterDS = masterDS.drop("customer_id", axis=1, errors='ignore')
#masterDS = masterDS.drop("order_id", axis=1, errors='ignore')

In [18]:
masterDS.head()

,customer_id,order_id,weather,item_id,item_name,price,taste_profile,item_type,order_month1,order_month2,order_day1,order_day2,order_hour1,order_hour2,order_minute1,order_minute2,order_second1,order_second2,order_weekday1,order_weekday2
0,170,390,snowy,640405085,Double Hamburger,2.99,savory,burger,-1.0,-0.0,0.201299,0.97953,-0.707107,0.707107,0.309017,-0.951057,0.951057,-0.309017,-0.781831,0.62349
1,152,1620,cloudy,640405172,Double Bacon Cheeseburger,3.79,savory,burger,0.5,-0.866025,-0.968077,-0.250653,-0.5,-0.866025,0.743145,0.669131,0.669131,0.743145,0.0,1.0
2,186,782,sunny,640405172,Double Bacon Cheeseburger,3.79,savory,burger,0.5,0.866025,-0.101168,-0.994869,0.866025,0.5,-0.866025,0.5,-0.5,0.866025,0.974928,-0.222521
3,150,1571,rainy,640405085,Double Hamburger,2.99,savory,burger,0.0,-1.0,-0.651372,-0.758758,0.0,1.0,0.0,-1.0,0.104528,-0.994522,0.974928,-0.222521
4,40,240,sunny,640404963,Cheeseburger,2.29,savory,burger,-0.5,-0.866025,0.998717,-0.050649,-0.258819,0.965926,-0.866025,0.5,-0.809017,-0.587785,0.974928,-0.222521

In [19]:

#Enumerate columns that are categorical
enumerateCol("weather", masterDS)
enumerateItemID("item_id", masterDS)
enumerateCol("taste_profile", masterDS)
enumerateCol("item_type", masterDS)

masterDS.head()

masterDS = masterDS.drop("item_name", axis=1, errors='ignore')

{640405112: (1, 'Double Cheeseburger'), 640405172: (2, 'Double Bacon Cheeseburger'), 640405025: (3, 'Bacon Cheeseburger'), 640404963: (4, 'Cheeseburger'), 640405085: (5, 'Double Hamburger'), 640404923: (6, 'Hamburger'), 640405058: (7, 'Veggie Burger'), 640405347: (8, 'Onion Rings'), 640405296: (9, 'Small Fries'), 640405307: (10, 'Regular Fries'), 640405315: (11, 'Large Fries'), 640405323: (12, 'Small Curly Fries'), 640405331: (13, 'Regular Curly Fries'), 640405339: (14, 'Large Curly Fries'), 640405355: (15, 'Small Drink'), 640405371: (16, 'Regular Drink'), 640405380: (17, 'Large Drink'), 640405389: (18, 'Small Shake'), 640405395: (19, 'Regular Shake'), 640405399: (20, 'Large Shake'), 640405348: (21, 'Coffee')}

In [20]:
#? need to normalize?
# DO I NEED TO DO the FLOAT 64 CAST? 
#cast all columns to float64

for col in masterDS.columns:
    masterDS[col] = masterDS[col].astype(np.float64)
masterDS.head(10)

,customer_id,order_id,weather,item_id,price,taste_profile,item_type,order_month1,order_month2,order_day1,order_day2,order_hour1,order_hour2,order_minute1,order_minute2,order_second1,order_second2,order_weekday1,order_weekday2
0,170.0,390.0,0.0,5.0,2.99,0.0,0.0,-1.000000e+00,-1.836970e-16,0.201299,0.979530,-0.707107,0.707107,3.090170e-01,-9.510565e-01,9.510565e-01,-0.309017,-0.781831,0.623490
1,152.0,1620.0,1.0,2.0,3.79,0.0,0.0,5.000000e-01,-8.660254e-01,-0.968077,-0.250653,-0.500000,-0.866025,7.431448e-01,6.691306e-01,6.691306e-01,0.743145,0.000000,1.000000
2,186.0,782.0,2.0,2.0,3.79,0.0,0.0,5.000000e-01,8.660254e-01,-0.101168,-0.994869,0.866025,0.500000,-8.660254e-01,5.000000e-01,-5.000000e-01,0.866025,0.974928,-0.222521
3,150.0,1571.0,3.0,5.0,2.99,0.0,0.0,1.224647e-16,-1.000000e+00,-0.651372,-0.758758,0.000000,1.000000,5.665539e-16,-1.000000e+00,1.045285e-01,-0.994522,0.974928,-0.222521
4,40.0,240.0,2.0,4.0,2.29,0.0,0.0,-5.000000e-01,-8.660254e-01,0.998717,-0.050649,-0.258819,0.965926,-8.660254e-01,5.000000e-01,-8.090170e-01,-0.587785,0.974928,-0.222521
5,46.0,1841.0,1.0,2.0,3.79,0.0,0.0,-2.449294e-16,1.000000e+00,0.394356,0.918958,-0.500000,-0.866025,-8.660254e-01,5.000000e-01,5.665539e-16,-1.000000,0.000000,1.000000
6,123.0,1159.0,0.0,3.0,2.79,0.0,0.0,-8.660254e-01,-5.000000e-01,-0.790776,-0.612106,0.965926,-0.258819,-9.781476e-01,-2.079117e-01,5.877853e-01,0.809017,0.433884,-0.900969
7,38.0,1333.0,0.0,1.0,3.29,0.0,0.0,1.000000e+00,6.123234e-17,-0.848644,0.528964,0.000000,1.000000,1.000000e+00,2.832769e-16,-8.660254e-01,-0.500000,0.000000,1.000000
8,22.0,1132.0,0.0,7.0,2.49,1.0,0.0,1.224647e-16,-1.000000e+00,0.968077,-0.250653,-0.500000,0.866025,8.660254e-01,5.000000e-01,5.000000e-01,-0.866025,0.433884,-0.900969
9,92.0,334.0,0.0,3.0,2.79,0.0,0.0,5.000000e-01,8.660254e-01,0.937752,0.347305,0.965926,-0.258819,9.781476e-01,2.079117e-01,5.000000e-01,-0.866025,0.000000,1.000000

In [21]:
target_column = ['item_id'] 
predictors = list(set(list(masterDS.columns))-set(target_column))
print(predictors)

#next line regularizes the all columns outside of target_column
# I definitly dont want it for the time data points, but do other columns need it?????

#masterDS[predictors] = masterDS[predictors]/masterDS[predictors].max()

['order_minute2', 'order_month1', 'order_hour2', 'item_type', 'order_second1', 'order_minute1', 'order_day1', 'order_second2', 'order_month2', 'order_id', 'customer_id', 'order_day2', 'order_weekday2', 'price', 'order_hour1', 'weather', 'taste_profile', 'order_weekday1']

In [22]:
X = masterDS[predictors].values
y = masterDS[target_column].values

In [23]:
#split into training and testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=40)
print(X_train.shape); print(X_test.shape)

(1704, 18)
(427, 18)

In [24]:
# Define model
model = Sequential()
model.add(Dense(500, input_dim=X_train.shape[1], activation= "relu"))
model.add(Dense(100, activation= "relu"))
model.add(Dense(50, activation= "relu"))
model.add(Dense(1))
#model.summary() #Print model Summary

In [25]:
#tf.keras.backend.set_floatx('float64')

model.compile(loss= "mean_squared_error" , optimizer="adam", metrics=["mean_squared_error"])

model.fit(X_train, y_train, epochs=300)

Epoch 1/300
54/54 [==============================] - 1s 4ms/step - loss: 118.0949 - mean_squared_error: 118.0949
Epoch 2/300
54/54 [==============================] - 0s 3ms/step - loss: 50.2306 - mean_squared_error: 50.2306
Epoch 3/300
54/54 [==============================] - 0s 3ms/step - loss: 81.1409 - mean_squared_error: 81.1409
Epoch 4/300
54/54 [==============================] - 0s 3ms/step - loss: 47.6907 - mean_squared_error: 47.6907
Epoch 5/300
54/54 [==============================] - 0s 3ms/step - loss: 35.3815 - mean_squared_error: 35.3815
Epoch 6/300
54/54 [==============================] - 0s 3ms/step - loss: 33.6779 - mean_squared_error: 33.6779
Epoch 7/300
54/54 [==============================] - 0s 3ms/step - loss: 38.4930 - mean_squared_error: 38.4930
Epoch 8/300
54/54 [==============================] - 0s 3ms/step - loss: 26.1527 - mean_squared_error: 26.1527
Epoch 9/300
54/54 [==============================] - 0s 3ms/step - loss: 18.2953 - mean_squared_error: 18.2953
Epoch 10/300
54/54 [==============================] - 0s 4ms/step - loss: 15.3585 - mean_squared_error: 15.3585
Epoch 11/300
54/54 [==============================] - 0s 3ms/step - loss: 18.2146 - mean_squared_error: 18.2146
Epoch 12/300
54/54 [==============================] - 0s 3ms/step - loss: 14.6496 - mean_squared_error: 14.6496
Epoch 13/300
54/54 [==============================] - 0s 3ms/step - loss: 14.1588 - mean_squared_error: 14.1588
Epoch 14/300
54/54 [==============================] - 0s 3ms/step - loss: 13.8925 - mean_squared_error: 13.8925
Epoch 15/300
54/54 [==============================] - 0s 3ms/step - loss: 12.9535 - mean_squared_error: 12.9535
Epoch 16/300
54/54 [==============================] - 0s 3ms/step - loss: 20.3325 - mean_squared_error: 20.3325
Epoch 17/300
54/54 [==============================] - 0s 3ms/step - loss: 18.3309 - mean_squared_error: 18.3309
Epoch 18/300
54/54 [==============================] - 0s 3ms/step - loss: 12.0242 - mean_squared_error: 12.0242
Epoch 19/300
54/54 [==============================] - 0s 3ms/step - loss: 14.7384 - mean_squared_error: 14.7384
Epoch 20/300
54/54 [==============================] - 0s 3ms/step - loss: 14.7659 - mean_squared_error: 14.7659
Epoch 21/300
54/54 [==============================] - 0s 3ms/step - loss: 11.3000 - mean_squared_error: 11.3000
Epoch 22/300
54/54 [==============================] - 0s 3ms/step - loss: 14.5119 - mean_squared_error: 14.5119
Epoch 23/300
54/54 [==============================] - 0s 3ms/step - loss: 12.8107 - mean_squared_error: 12.8107
Epoch 24/300
54/54 [==============================] - 0s 3ms/step - loss: 13.7485 - mean_squared_error: 13.7485
Epoch 25/300
54/54 [==============================] - 0s 3ms/step - loss: 12.0554 - mean_squared_error: 12.0554
Epoch 26/300
54/54 [==============================] - 0s 3ms/step - loss: 11.5286 - mean_squared_error: 11.5286
Epoch 27/300
54/54 [==============================] - 0s 3ms/step - loss: 14.0559 - mean_squared_error: 14.0559
Epoch 28/300
54/54 [==============================] - 0s 3ms/step - loss: 11.4455 - mean_squared_error: 11.4455
Epoch 29/300
54/54 [==============================] - 0s 3ms/step - loss: 11.7096 - mean_squared_error: 11.7096
Epoch 30/300
54/54 [==============================] - 0s 3ms/step - loss: 10.9059 - mean_squared_error: 10.9059
Epoch 31/300
54/54 [==============================] - 0s 3ms/step - loss: 13.3997 - mean_squared_error: 13.3997
Epoch 32/300
54/54 [==============================] - 0s 3ms/step - loss: 12.2290 - mean_squared_error: 12.2290
Epoch 33/300
54/54 [==============================] - 0s 3ms/step - loss: 11.7930 - mean_squared_error: 11.7930
Epoch 34/300
54/54 [==============================] - 0s 3ms/step - loss: 12.2219 - mean_squared_error: 12.2219
Epoch 35/300
54/54 [==============================] - 0s 3ms/step - loss: 12.8922 - mean_squared_error: 12.8922
Epoch 36/300
54/54 [==============================] - 0s 4ms/step - loss: 11.8342 - mean_squared_error: 11.8342
Epoch 37/300
54/54 [==============================] - 0s 4ms/step - loss: 17.8958 - mean_squared_error: 17.8958
Epoch 38/300
54/54 [==============================] - 0s 3ms/step - loss: 12.9624 - mean_squared_error: 12.9624
Epoch 39/300
54/54 [==============================] - 0s 3ms/step - loss: 15.6596 - mean_squared_error: 15.6596
Epoch 40/300
54/54 [==============================] - 0s 3ms/step - loss: 11.0227 - mean_squared_error: 11.0227
Epoch 41/300
54/54 [==============================] - 0s 3ms/step - loss: 14.1027 - mean_squared_error: 14.1027
Epoch 42/300
54/54 [==============================] - 0s 3ms/step - loss: 11.7999 - mean_squared_error: 11.7999
Epoch 43/300
54/54 [==============================] - 0s 3ms/step - loss: 11.9489 - mean_squared_error: 11.9489
Epoch 44/300
54/54 [==============================] - 0s 3ms/step - loss: 14.4434 - mean_squared_error: 14.4434
Epoch 45/300
54/54 [==============================] - 0s 3ms/step - loss: 11.2907 - mean_squared_error: 11.2907
Epoch 46/300
54/54 [==============================] - 0s 3ms/step - loss: 13.9567 - mean_squared_error: 13.9567
Epoch 47/300
54/54 [==============================] - 0s 3ms/step - loss: 14.7928 - mean_squared_error: 14.7928
Epoch 48/300
54/54 [==============================] - 0s 4ms/step - loss: 13.2831 - mean_squared_error: 13.2831
Epoch 49/300
54/54 [==============================] - 0s 4ms/step - loss: 14.0875 - mean_squared_error: 14.0875
Epoch 50/300
54/54 [==============================] - 0s 3ms/step - loss: 14.2432 - mean_squared_error: 14.2432
Epoch 51/300
54/54 [==============================] - 0s 3ms/step - loss: 10.7308 - mean_squared_error: 10.7308
Epoch 52/300
54/54 [==============================] - 0s 4ms/step - loss: 12.6932 - mean_squared_error: 12.6932
Epoch 53/300
54/54 [==============================] - 0s 4ms/step - loss: 13.8831 - mean_squared_error: 13.8831
Epoch 54/300
54/54 [==============================] - 0s 4ms/step - loss: 12.2958 - mean_squared_error: 12.2958
Epoch 55/300
54/54 [==============================] - 0s 3ms/step - loss: 10.7231 - mean_squared_error: 10.7231
Epoch 56/300
54/54 [==============================] - 0s 3ms/step - loss: 12.2171 - mean_squared_error: 12.2171
Epoch 57/300
54/54 [==============================] - 0s 3ms/step - loss: 11.6501 - mean_squared_error: 11.6501
Epoch 58/300
54/54 [==============================] - 0s 4ms/step - loss: 12.0430 - mean_squared_error: 12.0430
Epoch 59/300
54/54 [==============================] - 0s 4ms/step - loss: 10.9873 - mean_squared_error: 10.9873
Epoch 60/300
54/54 [==============================] - 0s 3ms/step - loss: 11.2646 - mean_squared_error: 11.2646
Epoch 61/300
54/54 [==============================] - 0s 3ms/step - loss: 14.5389 - mean_squared_error: 14.5389
Epoch 62/300
54/54 [==============================] - 0s 3ms/step - loss: 10.5603 - mean_squared_error: 10.5603
Epoch 63/300
54/54 [==============================] - 0s 4ms/step - loss: 10.3163 - mean_squared_error: 10.3163
Epoch 64/300
54/54 [==============================] - 0s 3ms/step - loss: 11.3215 - mean_squared_error: 11.3215
Epoch 65/300
54/54 [==============================] - 0s 4ms/step - loss: 11.6061 - mean_squared_error: 11.6061
Epoch 66/300
54/54 [==============================] - 0s 3ms/step - loss: 10.2789 - mean_squared_error: 10.2789
Epoch 67/300
54/54 [==============================] - 0s 3ms/step - loss: 10.1488 - mean_squared_error: 10.1488
Epoch 68/300
54/54 [==============================] - 0s 4ms/step - loss: 10.5634 - mean_squared_error: 10.5634
Epoch 69/300
54/54 [==============================] - 0s 3ms/step - loss: 9.4631 - mean_squared_error: 9.4631
Epoch 70/300
54/54 [==============================] - 0s 3ms/step - loss: 9.5849 - mean_squared_error: 9.5849
Epoch 71/300
54/54 [==============================] - 0s 3ms/step - loss: 10.3027 - mean_squared_error: 10.3027
Epoch 72/300
54/54 [==============================] - 0s 3ms/step - loss: 11.3521 - mean_squared_error: 11.3521
Epoch 73/300
54/54 [==============================] - 0s 4ms/step - loss: 10.3355 - mean_squared_error: 10.3355
Epoch 74/300

54/54 [==============================] - 0s 3ms/step - loss: 11.5192 - mean_squared_error: 11.5192
Epoch 75/300
54/54 [==============================] - 0s 3ms/step - loss: 9.8672 - mean_squared_error: 9.8672
Epoch 76/300
54/54 [==============================] - 0s 3ms/step - loss: 11.0272 - mean_squared_error: 11.0272
Epoch 77/300
54/54 [==============================] - 0s 3ms/step - loss: 10.1052 - mean_squared_error: 10.1052
Epoch 78/300
54/54 [==============================] - 0s 3ms/step - loss: 10.3776 - mean_squared_error: 10.3776
Epoch 79/300
54/54 [==============================] - 0s 3ms/step - loss: 12.2212 - mean_squared_error: 12.2212
Epoch 80/300
54/54 [==============================] - 0s 3ms/step - loss: 10.2384 - mean_squared_error: 10.2384
Epoch 81/300
54/54 [==============================] - 0s 3ms/step - loss: 10.3887 - mean_squared_error: 10.3887
Epoch 82/300
54/54 [==============================] - 0s 3ms/step - loss: 10.8699 - mean_squared_error: 10.8699
Epoch 83/300
54/54 [==============================] - 0s 3ms/step - loss: 11.3202 - mean_squared_error: 11.3202
Epoch 84/300
54/54 [==============================] - 0s 3ms/step - loss: 9.5334 - mean_squared_error: 9.5334
Epoch 85/300
54/54 [==============================] - 0s 4ms/step - loss: 11.7828 - mean_squared_error: 11.7828
Epoch 86/300
54/54 [==============================] - 0s 3ms/step - loss: 10.9340 - mean_squared_error: 10.9340
Epoch 87/300
54/54 [==============================] - 0s 3ms/step - loss: 9.6493 - mean_squared_error: 9.6493
Epoch 88/300
54/54 [==============================] - 0s 3ms/step - loss: 10.4124 - mean_squared_error: 10.4124
Epoch 89/300
54/54 [==============================] - 0s 3ms/step - loss: 9.2666 - mean_squared_error: 9.2666
Epoch 90/300
54/54 [==============================] - 0s 3ms/step - loss: 9.0871 - mean_squared_error: 9.0871
Epoch 91/300
54/54 [==============================] - 0s 3ms/step - loss: 9.9360 - mean_squared_error: 9.9360
Epoch 92/300
54/54 [==============================] - 0s 3ms/step - loss: 10.2669 - mean_squared_error: 10.2669
Epoch 93/300
54/54 [==============================] - 0s 4ms/step - loss: 9.2641 - mean_squared_error: 9.2641
Epoch 94/300
54/54 [==============================] - 0s 3ms/step - loss: 10.1458 - mean_squared_error: 10.1458
Epoch 95/300
54/54 [==============================] - 0s 3ms/step - loss: 8.9093 - mean_squared_error: 8.9093
Epoch 96/300
54/54 [==============================] - 0s 3ms/step - loss: 9.2277 - mean_squared_error: 9.2277
Epoch 97/300
54/54 [==============================] - 0s 3ms/step - loss: 10.0530 - mean_squared_error: 10.0530
Epoch 98/300
54/54 [==============================] - 0s 3ms/step - loss: 9.2834 - mean_squared_error: 9.2834
Epoch 99/300
54/54 [==============================] - 0s 3ms/step - loss: 8.8295 - mean_squared_error: 8.8295
Epoch 100/300
54/54 [==============================] - 0s 3ms/step - loss: 10.9208 - mean_squared_error: 10.9208
Epoch 101/300
54/54 [==============================] - 0s 3ms/step - loss: 10.1196 - mean_squared_error: 10.1196
Epoch 102/300
54/54 [==============================] - 0s 3ms/step - loss: 9.5735 - mean_squared_error: 9.5735
Epoch 103/300
54/54 [==============================] - 0s 3ms/step - loss: 9.9387 - mean_squared_error: 9.9387
Epoch 104/300
54/54 [==============================] - 0s 3ms/step - loss: 11.0730 - mean_squared_error: 11.0730
Epoch 105/300
54/54 [==============================] - 0s 3ms/step - loss: 10.7273 - mean_squared_error: 10.7273
Epoch 106/300
54/54 [==============================] - 0s 4ms/step - loss: 8.7991 - mean_squared_error: 8.7991
Epoch 107/300
54/54 [==============================] - 0s 3ms/step - loss: 11.4462 - mean_squared_error: 11.4462
Epoch 108/300
54/54 [==============================] - 0s 3ms/step - loss: 8.4301 - mean_squared_error: 8.4301
Epoch 109/300
54/54 [==============================] - 0s 4ms/step - loss: 7.8942 - mean_squared_error: 7.8942
Epoch 110/300
54/54 [==============================] - 0s 4ms/step - loss: 8.6456 - mean_squared_error: 8.6456
Epoch 111/300
54/54 [==============================] - 0s 3ms/step - loss: 8.8086 - mean_squared_error: 8.8086
Epoch 112/300
54/54 [==============================] - 0s 3ms/step - loss: 8.5981 - mean_squared_error: 8.5981
Epoch 113/300
54/54 [==============================] - 0s 3ms/step - loss: 9.8199 - mean_squared_error: 9.8199
Epoch 114/300
54/54 [==============================] - 0s 3ms/step - loss: 10.0400 - mean_squared_error: 10.0400
Epoch 115/300
54/54 [==============================] - 0s 3ms/step - loss: 9.0325 - mean_squared_error: 9.0325
Epoch 116/300
54/54 [==============================] - 0s 3ms/step - loss: 8.5472 - mean_squared_error: 8.5472
Epoch 117/300
54/54 [==============================] - 0s 4ms/step - loss: 8.6557 - mean_squared_error: 8.6557
Epoch 118/300
54/54 [==============================] - 0s 3ms/step - loss: 8.9058 - mean_squared_error: 8.9058
Epoch 119/300
54/54 [==============================] - 0s 3ms/step - loss: 8.9584 - mean_squared_error: 8.9584
Epoch 120/300
54/54 [==============================] - 0s 3ms/step - loss: 8.1288 - mean_squared_error: 8.1288
Epoch 121/300
54/54 [==============================] - 0s 3ms/step - loss: 10.0973 - mean_squared_error: 10.0973
Epoch 122/300
54/54 [==============================] - 0s 3ms/step - loss: 9.9693 - mean_squared_error: 9.9693
Epoch 123/300
54/54 [==============================] - 0s 3ms/step - loss: 8.6715 - mean_squared_error: 8.6715
Epoch 124/300
54/54 [==============================] - 0s 3ms/step - loss: 9.4942 - mean_squared_error: 9.4942
Epoch 125/300
54/54 [==============================] - 0s 3ms/step - loss: 8.5724 - mean_squared_error: 8.5724
Epoch 126/300
54/54 [==============================] - 0s 3ms/step - loss: 9.1617 - mean_squared_error: 9.1617
Epoch 127/300
54/54 [==============================] - 0s 3ms/step - loss: 8.3714 - mean_squared_error: 8.3714
Epoch 128/300
54/54 [==============================] - 0s 3ms/step - loss: 8.8614 - mean_squared_error: 8.8614
Epoch 129/300
54/54 [==============================] - 0s 3ms/step - loss: 8.3910 - mean_squared_error: 8.3910
Epoch 130/300
54/54 [==============================] - 0s 3ms/step - loss: 7.5433 - mean_squared_error: 7.5433
Epoch 131/300
54/54 [==============================] - 0s 3ms/step - loss: 7.8921 - mean_squared_error: 7.8921
Epoch 132/300
54/54 [==============================] - 0s 3ms/step - loss: 8.1070 - mean_squared_error: 8.1070
Epoch 133/300
54/54 [==============================] - 0s 3ms/step - loss: 8.3198 - mean_squared_error: 8.3198
Epoch 134/300
54/54 [==============================] - 0s 4ms/step - loss: 7.9324 - mean_squared_error: 7.9324
Epoch 135/300
54/54 [==============================] - 0s 3ms/step - loss: 7.4666 - mean_squared_error: 7.4666
Epoch 136/300
54/54 [==============================] - 0s 3ms/step - loss: 7.5953 - mean_squared_error: 7.5953
Epoch 137/300
54/54 [==============================] - 0s 3ms/step - loss: 7.9109 - mean_squared_error: 7.9109
Epoch 138/300
54/54 [==============================] - 0s 3ms/step - loss: 8.7696 - mean_squared_error: 8.7696
Epoch 139/300
54/54 [==============================] - 0s 4ms/step - loss: 7.6566 - mean_squared_error: 7.6566
Epoch 140/300
54/54 [==============================] - 0s 3ms/step - loss: 7.5922 - mean_squared_error: 7.5922
Epoch 141/300
54/54 [==============================] - 0s 3ms/step - loss: 7.4184 - mean_squared_error: 7.4184
Epoch 142/300
54/54 [==============================] - 0s 3ms/step - loss: 7.0249 - mean_squared_error: 7.0249
Epoch 143/300
54/54 [==============================] - 0s 3ms/step - loss: 7.7288 - mean_squared_error: 7.7288
Epoch 144/300
54/54 [==============================] - 0s 3ms/step - loss: 8.1526 - mean_squared_error: 8.1526
Epoch 145/300
54/54 [==============================] - 0s 3ms/step - loss: 8.0431 - mean_squared_error: 8.0431
Epoch 146/300
54/54 [==============================] - 0s 2ms/step - loss: 6.5893 - mean_squared_error: 6.5893
Epoch 147/300

54/54 [==============================] - 0s 2ms/step - loss: 7.4545 - mean_squared_error: 7.4545
Epoch 148/300
54/54 [==============================] - 0s 3ms/step - loss: 7.3954 - mean_squared_error: 7.3954
Epoch 149/300
54/54 [==============================] - 0s 3ms/step - loss: 7.1178 - mean_squared_error: 7.1178
Epoch 150/300
54/54 [==============================] - 0s 3ms/step - loss: 7.3917 - mean_squared_error: 7.3917
Epoch 151/300
54/54 [==============================] - 0s 3ms/step - loss: 7.1299 - mean_squared_error: 7.1299
Epoch 152/300
54/54 [==============================] - 0s 3ms/step - loss: 7.6847 - mean_squared_error: 7.6847
Epoch 153/300
54/54 [==============================] - 0s 4ms/step - loss: 6.7277 - mean_squared_error: 6.7277
Epoch 154/300
54/54 [==============================] - 0s 4ms/step - loss: 6.5057 - mean_squared_error: 6.5057
Epoch 155/300
54/54 [==============================] - 0s 3ms/step - loss: 7.0131 - mean_squared_error: 7.0131
Epoch 156/300
54/54 [==============================] - 0s 3ms/step - loss: 7.6820 - mean_squared_error: 7.6820
Epoch 157/300
54/54 [==============================] - 0s 3ms/step - loss: 7.2802 - mean_squared_error: 7.2802
Epoch 158/300
54/54 [==============================] - 0s 3ms/step - loss: 6.9800 - mean_squared_error: 6.9800
Epoch 159/300
54/54 [==============================] - 0s 3ms/step - loss: 6.6779 - mean_squared_error: 6.6779
Epoch 160/300
54/54 [==============================] - 0s 3ms/step - loss: 6.7677 - mean_squared_error: 6.7677
Epoch 161/300
54/54 [==============================] - 0s 3ms/step - loss: 7.0868 - mean_squared_error: 7.0868
Epoch 162/300
54/54 [==============================] - 0s 3ms/step - loss: 6.5221 - mean_squared_error: 6.5221
Epoch 163/300
54/54 [==============================] - 0s 4ms/step - loss: 6.1388 - mean_squared_error: 6.1388
Epoch 164/300
54/54 [==============================] - 0s 4ms/step - loss: 7.8866 - mean_squared_error: 7.8866
Epoch 165/300
54/54 [==============================] - 0s 4ms/step - loss: 5.7706 - mean_squared_error: 5.7706
Epoch 166/300
54/54 [==============================] - 0s 3ms/step - loss: 6.6810 - mean_squared_error: 6.6810
Epoch 167/300
54/54 [==============================] - 0s 3ms/step - loss: 6.5075 - mean_squared_error: 6.5075
Epoch 168/300
54/54 [==============================] - 0s 3ms/step - loss: 6.9984 - mean_squared_error: 6.9984
Epoch 169/300
54/54 [==============================] - 0s 5ms/step - loss: 6.1516 - mean_squared_error: 6.1516
Epoch 170/300
54/54 [==============================] - 0s 4ms/step - loss: 5.7797 - mean_squared_error: 5.7797
Epoch 171/300
54/54 [==============================] - 0s 3ms/step - loss: 5.3197 - mean_squared_error: 5.3197
Epoch 172/300
54/54 [==============================] - 0s 3ms/step - loss: 5.6493 - mean_squared_error: 5.6493
Epoch 173/300
54/54 [==============================] - 0s 3ms/step - loss: 4.9666 - mean_squared_error: 4.9666
Epoch 174/300
54/54 [==============================] - 0s 3ms/step - loss: 4.5175 - mean_squared_error: 4.5175
Epoch 175/300
54/54 [==============================] - 0s 3ms/step - loss: 6.1201 - mean_squared_error: 6.1201
Epoch 176/300
54/54 [==============================] - 0s 3ms/step - loss: 8.8169 - mean_squared_error: 8.8169
Epoch 177/300
54/54 [==============================] - 0s 3ms/step - loss: 8.6941 - mean_squared_error: 8.6941
Epoch 178/300
54/54 [==============================] - 0s 3ms/step - loss: 5.8588 - mean_squared_error: 5.8588
Epoch 179/300
54/54 [==============================] - 0s 3ms/step - loss: 4.8056 - mean_squared_error: 4.8056
Epoch 180/300
54/54 [==============================] - 0s 3ms/step - loss: 5.2098 - mean_squared_error: 5.2098
Epoch 181/300
54/54 [==============================] - 0s 3ms/step - loss: 6.4885 - mean_squared_error: 6.4885
Epoch 182/300
54/54 [==============================] - 0s 3ms/step - loss: 4.1974 - mean_squared_error: 4.1974
Epoch 183/300
54/54 [==============================] - 0s 3ms/step - loss: 5.5342 - mean_squared_error: 5.5342
Epoch 184/300
54/54 [==============================] - 0s 3ms/step - loss: 6.1947 - mean_squared_error: 6.1947
Epoch 185/300
54/54 [==============================] - 0s 3ms/step - loss: 5.6052 - mean_squared_error: 5.6052
Epoch 186/300
54/54 [==============================] - 0s 3ms/step - loss: 5.8319 - mean_squared_error: 5.8319
Epoch 187/300
54/54 [==============================] - 0s 3ms/step - loss: 5.4863 - mean_squared_error: 5.4863
Epoch 188/300
54/54 [==============================] - 0s 3ms/step - loss: 5.3682 - mean_squared_error: 5.3682
Epoch 189/300
54/54 [==============================] - 0s 3ms/step - loss: 4.0883 - mean_squared_error: 4.0883
Epoch 190/300
54/54 [==============================] - 0s 3ms/step - loss: 5.8049 - mean_squared_error: 5.8049
Epoch 191/300
54/54 [==============================] - 0s 3ms/step - loss: 4.0853 - mean_squared_error: 4.0853
Epoch 192/300
54/54 [==============================] - 0s 3ms/step - loss: 4.6675 - mean_squared_error: 4.6675
Epoch 193/300
54/54 [==============================] - 0s 3ms/step - loss: 4.1118 - mean_squared_error: 4.1118
Epoch 194/300
54/54 [==============================] - 0s 3ms/step - loss: 4.8162 - mean_squared_error: 4.8162
Epoch 195/300
54/54 [==============================] - 0s 3ms/step - loss: 6.3610 - mean_squared_error: 6.3610
Epoch 196/300
54/54 [==============================] - 0s 4ms/step - loss: 5.3044 - mean_squared_error: 5.3044
Epoch 197/300
54/54 [==============================] - 0s 4ms/step - loss: 5.1583 - mean_squared_error: 5.1583
Epoch 198/300
54/54 [==============================] - 0s 4ms/step - loss: 5.3850 - mean_squared_error: 5.3850
Epoch 199/300
54/54 [==============================] - 0s 4ms/step - loss: 3.3808 - mean_squared_error: 3.3808
Epoch 200/300
54/54 [==============================] - 0s 3ms/step - loss: 6.8686 - mean_squared_error: 6.8686
Epoch 201/300
54/54 [==============================] - 0s 4ms/step - loss: 5.4088 - mean_squared_error: 5.4088
Epoch 202/300
54/54 [==============================] - 0s 3ms/step - loss: 5.6695 - mean_squared_error: 5.6695
Epoch 203/300
54/54 [==============================] - 0s 3ms/step - loss: 4.4714 - mean_squared_error: 4.4714
Epoch 204/300
54/54 [==============================] - 0s 3ms/step - loss: 4.7880 - mean_squared_error: 4.7880
Epoch 205/300
54/54 [==============================] - 0s 3ms/step - loss: 5.1310 - mean_squared_error: 5.1310
Epoch 206/300
54/54 [==============================] - 0s 3ms/step - loss: 5.5411 - mean_squared_error: 5.5411
Epoch 207/300
54/54 [==============================] - 0s 4ms/step - loss: 4.1854 - mean_squared_error: 4.1854
Epoch 208/300
54/54 [==============================] - 0s 4ms/step - loss: 5.1197 - mean_squared_error: 5.1197
Epoch 209/300
54/54 [==============================] - 0s 3ms/step - loss: 4.6048 - mean_squared_error: 4.6048
Epoch 210/300
54/54 [==============================] - 0s 3ms/step - loss: 4.4565 - mean_squared_error: 4.4565
Epoch 211/300
54/54 [==============================] - 0s 3ms/step - loss: 3.3303 - mean_squared_error: 3.3303
Epoch 212/300
54/54 [==============================] - 0s 3ms/step - loss: 3.2452 - mean_squared_error: 3.2452
Epoch 213/300
54/54 [==============================] - 0s 3ms/step - loss: 3.9166 - mean_squared_error: 3.9166
Epoch 214/300
54/54 [==============================] - 0s 3ms/step - loss: 3.8980 - mean_squared_error: 3.8980
Epoch 215/300
54/54 [==============================] - 0s 3ms/step - loss: 4.0764 - mean_squared_error: 4.0764
Epoch 216/300
54/54 [==============================] - 0s 3ms/step - loss: 2.9453 - mean_squared_error: 2.9453
Epoch 217/300
54/54 [==============================] - 0s 3ms/step - loss: 2.4938 - mean_squared_error: 2.4938
Epoch 218/300
54/54 [==============================] - 0s 4ms/step - loss: 2.1656 - mean_squared_error: 2.1656
Epoch 219/300
54/54 [==============================] - 0s 3ms/step - loss: 2.2299 - mean_squared_error: 2.2299
Epoch 220/300

54/54 [==============================] - 0s 3ms/step - loss: 2.8461 - mean_squared_error: 2.8461
Epoch 221/300
54/54 [==============================] - 0s 3ms/step - loss: 2.9083 - mean_squared_error: 2.9083
Epoch 222/300
54/54 [==============================] - 0s 3ms/step - loss: 4.7967 - mean_squared_error: 4.7967
Epoch 223/300
54/54 [==============================] - 0s 3ms/step - loss: 2.6926 - mean_squared_error: 2.6926
Epoch 224/300
54/54 [==============================] - 0s 3ms/step - loss: 2.1817 - mean_squared_error: 2.1817
Epoch 225/300
54/54 [==============================] - 0s 3ms/step - loss: 2.0427 - mean_squared_error: 2.0427
Epoch 226/300
54/54 [==============================] - 0s 3ms/step - loss: 2.1810 - mean_squared_error: 2.1810
Epoch 227/300
54/54 [==============================] - 0s 3ms/step - loss: 4.2262 - mean_squared_error: 4.2262
Epoch 228/300
54/54 [==============================] - 0s 3ms/step - loss: 2.5143 - mean_squared_error: 2.5143
Epoch 229/300
54/54 [==============================] - 0s 3ms/step - loss: 3.9968 - mean_squared_error: 3.9968
Epoch 230/300
54/54 [==============================] - 0s 3ms/step - loss: 3.2531 - mean_squared_error: 3.2531
Epoch 231/300
54/54 [==============================] - 0s 3ms/step - loss: 3.1601 - mean_squared_error: 3.1601
Epoch 232/300
54/54 [==============================] - 0s 3ms/step - loss: 4.1409 - mean_squared_error: 4.1409
Epoch 233/300
54/54 [==============================] - 0s 3ms/step - loss: 3.4281 - mean_squared_error: 3.4281
Epoch 234/300
54/54 [==============================] - 0s 3ms/step - loss: 2.4383 - mean_squared_error: 2.4383
Epoch 235/300
54/54 [==============================] - 0s 3ms/step - loss: 5.3342 - mean_squared_error: 5.3342
Epoch 236/300
54/54 [==============================] - 0s 3ms/step - loss: 3.6857 - mean_squared_error: 3.6857
Epoch 237/300
54/54 [==============================] - 0s 3ms/step - loss: 3.4682 - mean_squared_error: 3.4682
Epoch 238/300
54/54 [==============================] - 0s 3ms/step - loss: 2.9409 - mean_squared_error: 2.9409
Epoch 239/300
54/54 [==============================] - 0s 3ms/step - loss: 2.7305 - mean_squared_error: 2.7305
Epoch 240/300
54/54 [==============================] - 0s 3ms/step - loss: 2.9142 - mean_squared_error: 2.9142
Epoch 241/300
54/54 [==============================] - 0s 3ms/step - loss: 3.1173 - mean_squared_error: 3.1173
Epoch 242/300
54/54 [==============================] - 0s 3ms/step - loss: 2.5176 - mean_squared_error: 2.5176
Epoch 243/300
54/54 [==============================] - 0s 3ms/step - loss: 2.9025 - mean_squared_error: 2.9025
Epoch 244/300
54/54 [==============================] - 0s 3ms/step - loss: 4.6123 - mean_squared_error: 4.6123
Epoch 245/300
54/54 [==============================] - 0s 3ms/step - loss: 2.4686 - mean_squared_error: 2.4686
Epoch 246/300
54/54 [==============================] - 0s 3ms/step - loss: 2.7405 - mean_squared_error: 2.7405
Epoch 247/300
54/54 [==============================] - 0s 3ms/step - loss: 3.2474 - mean_squared_error: 3.2474
Epoch 248/300
54/54 [==============================] - 0s 3ms/step - loss: 3.2136 - mean_squared_error: 3.2136
Epoch 249/300
54/54 [==============================] - 0s 3ms/step - loss: 3.4162 - mean_squared_error: 3.4162
Epoch 250/300
54/54 [==============================] - 0s 3ms/step - loss: 2.5136 - mean_squared_error: 2.5136
Epoch 251/300
54/54 [==============================] - 0s 3ms/step - loss: 2.2173 - mean_squared_error: 2.2173
Epoch 252/300
54/54 [==============================] - 0s 3ms/step - loss: 2.1166 - mean_squared_error: 2.1166
Epoch 253/300
54/54 [==============================] - 0s 3ms/step - loss: 3.2147 - mean_squared_error: 3.2147
Epoch 254/300
54/54 [==============================] - 0s 3ms/step - loss: 3.6516 - mean_squared_error: 3.6516
Epoch 255/300
54/54 [==============================] - 0s 3ms/step - loss: 3.1638 - mean_squared_error: 3.1638
Epoch 256/300
54/54 [==============================] - 0s 3ms/step - loss: 2.3600 - mean_squared_error: 2.3600
Epoch 257/300
54/54 [==============================] - 0s 3ms/step - loss: 1.9581 - mean_squared_error: 1.9581
Epoch 258/300
54/54 [==============================] - 0s 3ms/step - loss: 2.8883 - mean_squared_error: 2.8883
Epoch 259/300
54/54 [==============================] - 0s 3ms/step - loss: 2.0009 - mean_squared_error: 2.0009
Epoch 260/300
54/54 [==============================] - 0s 3ms/step - loss: 1.8329 - mean_squared_error: 1.8329
Epoch 261/300
54/54 [==============================] - 0s 3ms/step - loss: 2.7595 - mean_squared_error: 2.7595
Epoch 262/300
54/54 [==============================] - 0s 3ms/step - loss: 3.8059 - mean_squared_error: 3.8059
Epoch 263/300
54/54 [==============================] - 0s 3ms/step - loss: 3.0287 - mean_squared_error: 3.0287
Epoch 264/300
54/54 [==============================] - 0s 3ms/step - loss: 4.9671 - mean_squared_error: 4.9671
Epoch 265/300
54/54 [==============================] - 0s 3ms/step - loss: 3.7407 - mean_squared_error: 3.7407
Epoch 266/300
54/54 [==============================] - 0s 3ms/step - loss: 3.4480 - mean_squared_error: 3.4480
Epoch 267/300
54/54 [==============================] - 0s 3ms/step - loss: 3.2245 - mean_squared_error: 3.2245
Epoch 268/300
54/54 [==============================] - 0s 4ms/step - loss: 2.9377 - mean_squared_error: 2.9377
Epoch 269/300
54/54 [==============================] - 0s 3ms/step - loss: 2.8209 - mean_squared_error: 2.8209
Epoch 270/300
54/54 [==============================] - 0s 3ms/step - loss: 2.1963 - mean_squared_error: 2.1963
Epoch 271/300
54/54 [==============================] - 0s 3ms/step - loss: 3.1129 - mean_squared_error: 3.1129
Epoch 272/300
54/54 [==============================] - 0s 3ms/step - loss: 2.4753 - mean_squared_error: 2.4753
Epoch 273/300
54/54 [==============================] - 0s 3ms/step - loss: 1.6528 - mean_squared_error: 1.6528
Epoch 274/300
54/54 [==============================] - 0s 3ms/step - loss: 1.7447 - mean_squared_error: 1.7447
Epoch 275/300
54/54 [==============================] - 0s 3ms/step - loss: 1.6479 - mean_squared_error: 1.6479
Epoch 276/300
54/54 [==============================] - 0s 3ms/step - loss: 1.7889 - mean_squared_error: 1.7889
Epoch 277/300
54/54 [==============================] - 0s 4ms/step - loss: 1.7725 - mean_squared_error: 1.7725
Epoch 278/300
54/54 [==============================] - 0s 3ms/step - loss: 1.9909 - mean_squared_error: 1.9909
Epoch 279/300
54/54 [==============================] - 0s 3ms/step - loss: 1.5800 - mean_squared_error: 1.5800
Epoch 280/300
54/54 [==============================] - 0s 3ms/step - loss: 1.7624 - mean_squared_error: 1.7624
Epoch 281/300
54/54 [==============================] - 0s 3ms/step - loss: 1.6152 - mean_squared_error: 1.6152
Epoch 282/300
54/54 [==============================] - 0s 3ms/step - loss: 1.5051 - mean_squared_error: 1.5051
Epoch 283/300
54/54 [==============================] - 0s 3ms/step - loss: 2.2759 - mean_squared_error: 2.2759
Epoch 284/300
54/54 [==============================] - 0s 3ms/step - loss: 2.2746 - mean_squared_error: 2.2746
Epoch 285/300
54/54 [==============================] - 0s 3ms/step - loss: 1.9763 - mean_squared_error: 1.9763
Epoch 286/300
54/54 [==============================] - 0s 3ms/step - loss: 5.6374 - mean_squared_error: 5.6374
Epoch 287/300
54/54 [==============================] - 0s 3ms/step - loss: 3.6553 - mean_squared_error: 3.6553
Epoch 288/300
54/54 [==============================] - 0s 3ms/step - loss: 2.2162 - mean_squared_error: 2.2162
Epoch 289/300
54/54 [==============================] - 0s 4ms/step - loss: 3.7829 - mean_squared_error: 3.7829
Epoch 290/300
54/54 [==============================] - 0s 4ms/step - loss: 1.8402 - mean_squared_error: 1.8402
Epoch 291/300
54/54 [==============================] - 0s 3ms/step - loss: 1.9254 - mean_squared_error: 1.9254
Epoch 292/300
54/54 [==============================] - 0s 3ms/step - loss: 1.9419 - mean_squared_error: 1.9419
Epoch 293/300

54/54 [==============================] - 0s 3ms/step - loss: 1.8735 - mean_squared_error: 1.8735
Epoch 294/300
54/54 [==============================] - 0s 3ms/step - loss: 1.5517 - mean_squared_error: 1.5517
Epoch 295/300
54/54 [==============================] - 0s 3ms/step - loss: 2.4058 - mean_squared_error: 2.4058
Epoch 296/300
54/54 [==============================] - 0s 3ms/step - loss: 2.4821 - mean_squared_error: 2.4821
Epoch 297/300
54/54 [==============================] - 0s 3ms/step - loss: 2.8692 - mean_squared_error: 2.8692
Epoch 298/300
54/54 [==============================] - 0s 3ms/step - loss: 1.8678 - mean_squared_error: 1.8678
Epoch 299/300
54/54 [==============================] - 0s 3ms/step - loss: 1.6236 - mean_squared_error: 1.6236
Epoch 300/300
54/54 [==============================] - 0s 3ms/step - loss: 1.8607 - mean_squared_error: 1.8607

In [26]:
# Get a Dictionary containing the pairs of column names & data type objects.
print('Data type of each column of Dataframe :')
print(dict(masterDS.dtypes))

Data type of each column of Dataframe :
{'customer_id': dtype('float64'), 'order_id': dtype('float64'), 'weather': dtype('float64'), 'item_id': dtype('float64'), 'price': dtype('float64'), 'taste_profile': dtype('float64'), 'item_type': dtype('float64'), 'order_month1': dtype('float64'), 'order_month2': dtype('float64'), 'order_day1': dtype('float64'), 'order_day2': dtype('float64'), 'order_hour1': dtype('float64'), 'order_hour2': dtype('float64'), 'order_minute1': dtype('float64'), 'order_minute2': dtype('float64'), 'order_second1': dtype('float64'), 'order_second2': dtype('float64'), 'order_weekday1': dtype('float64'), 'order_weekday2': dtype('float64')}

In [27]:
pred_train= model.predict(X_test)
print(np.sqrt(mean_squared_error(y_test,pred_train)))

#model.predict([40.0,139.0, 0.0, 4.99, 0.00, ])

print(pred_train)
pd.DataFrame(pred_train).head

2.7048944871402765
[[20.690815  ]
 [ 2.4717412 ]
 [ 3.3245866 ]
 [ 3.3864536 ]
 [12.203621  ]
 [16.574598  ]
 [ 2.39189   ]
 [12.8004265 ]
 [20.410673  ]
 [19.437819  ]
 [ 2.192389  ]
 [21.206732  ]
 [18.97999   ]
 [16.378973  ]
 [ 7.8131995 ]
 [12.977795  ]
 [20.54507   ]
 [ 8.881666  ]
 [17.089832  ]
 [13.019518  ]
 [ 3.316655  ]
 [ 5.3178062 ]
 [16.971115  ]
 [17.00969   ]
 [16.300539  ]
 [10.228598  ]
 [ 2.1473706 ]
 [ 3.0947483 ]
 [ 3.2093654 ]
 [20.89385   ]
 [19.668875  ]
 [16.805477  ]
 [11.774567  ]
 [ 2.4342546 ]
 [15.309542  ]
 [ 3.097623  ]
 [16.905966  ]
 [15.284725  ]
 [14.758299  ]
 [11.548836  ]
 [11.270935  ]
 [20.740013  ]
 [ 2.8816452 ]
 [19.691156  ]
 [16.414429  ]
 [19.040398  ]
 [ 9.440886  ]
 [21.583214  ]
 [ 3.1788745 ]
 [19.930971  ]
 [ 3.4654052 ]
 [ 2.9765413 ]
 [ 2.602874  ]
 [11.661835  ]
 [12.782328  ]
 [ 8.882534  ]
 [18.582947  ]
 [14.628477  ]
 [19.371666  ]
 [ 9.320864  ]
 [21.998705  ]
 [18.924507  ]
 [17.096638  ]
 [17.036182  ]
 [18.648563  ]
 [ 2.862311  ]
 [ 2.3804388 ]
 [ 2.918529  ]
 [ 3.4717326 ]
 [16.459393  ]
 [22.065855  ]
 [22.219     ]
 [15.366413  ]
 [20.191141  ]
 [ 2.9985845 ]
 [17.858164  ]
 [12.639086  ]
 [16.881739  ]
 [ 6.216113  ]
 [12.022511  ]
 [10.837442  ]
 [19.780115  ]
 [ 2.2398    ]
 [12.425201  ]
 [11.684315  ]
 [19.447065  ]
 [19.387903  ]
 [18.649399  ]
 [ 3.5830228 ]
 [ 3.2799673 ]
 [ 2.9726508 ]
 [13.961683  ]
 [12.352291  ]
 [20.849257  ]
 [15.811874  ]
 [15.145594  ]
 [11.566172  ]
 [13.296183  ]
 [ 8.16889   ]
 [10.309319  ]
 [ 2.5720036 ]
 [12.942186  ]
 [17.223629  ]
 [ 5.4434757 ]
 [16.057636  ]
 [ 9.382589  ]
 [11.169025  ]
 [19.968233  ]
 [ 2.4874537 ]
 [ 3.1759934 ]
 [ 9.722956  ]
 [ 5.330269  ]
 [ 3.2237263 ]
 [ 2.7394214 ]
 [ 2.5911489 ]
 [11.814295  ]
 [ 3.06768   ]
 [21.798193  ]
 [19.571905  ]
 [ 3.158423  ]
 [ 3.8762317 ]
 [19.245878  ]
 [20.978586  ]
 [ 3.176845  ]
 [20.29229   ]
 [ 2.7801402 ]
 [13.439884  ]
 [17.137085  ]
 [15.148195  ]
 [15.541107  ]
 [21.750326  ]
 [ 3.5192544 ]
 [16.2205    ]
 [10.4165745 ]
 [11.841682  ]
 [20.25076   ]
 [13.105446  ]
 [21.01637   ]
 [19.71168   ]
 [ 2.8712606 ]
 [15.3540745 ]
 [ 2.7158582 ]
 [11.65213   ]
 [13.312458  ]
 [ 6.671615  ]
 [13.583006  ]
 [ 2.8403196 ]
 [ 4.417226  ]
 [16.527517  ]
 [ 9.190672  ]
 [16.69068   ]
 [ 2.631949  ]
 [ 3.0966728 ]
 [19.410536  ]
 [22.122458  ]
 [19.854176  ]
 [ 1.4448302 ]
 [10.917648  ]
 [ 3.4390414 ]
 [18.24467   ]
 [17.217348  ]
 [ 3.9504895 ]
 [20.452177  ]
 [15.647879  ]
 [ 4.1000943 ]
 [ 2.947034  ]
 [11.782604  ]
 [ 3.0818553 ]
 [21.740355  ]
 [13.100843  ]
 [ 4.8333035 ]
 [ 5.227738  ]
 [19.920427  ]
 [ 3.1276703 ]
 [ 3.622002  ]
 [10.893772  ]
 [16.856743  ]
 [11.59045   ]
 [17.964102  ]
 [17.56972   ]
 [12.569759  ]
 [ 2.921071  ]
 [10.880625  ]
 [19.434244  ]
 [10.001617  ]
 [ 3.1941166 ]
 [19.16684   ]
 [18.782703  ]
 [17.499908  ]
 [18.329815  ]
 [19.780922  ]
 [12.346542  ]
 [15.321444  ]
 [20.243732  ]
 [ 5.171283  ]
 [ 2.9529498 ]
 [14.01754   ]
 [ 3.1815724 ]
 [21.140762  ]
 [18.275167  ]
 [ 3.1774151 ]
 [18.518822  ]
 [ 2.6470556 ]
 [12.576431  ]
 [12.548851  ]
 [11.437815  ]
 [19.652634  ]
 [11.118727  ]
 [ 2.2241244 ]
 [12.631784  ]
 [ 4.0174108 ]
 [11.421242  ]
 [11.386105  ]
 [15.126646  ]
 [17.606014  ]
 [ 2.8676767 ]
 [16.569187  ]
 [12.822571  ]
 [16.476408  ]
 [ 3.2790575 ]
 [ 3.5103014 ]
 [11.838131  ]
 [12.540455  ]
 [11.908613  ]
 [17.171732  ]
 [16.219366  ]
 [22.081186  ]
 [12.235468  ]
 [11.806877  ]
 [13.926104  ]
 [14.852097  ]
 [17.527391  ]
 [ 3.2414374 ]
 [ 3.0947602 ]
 [ 0.82956326]
 [18.395477  ]
 [11.407915  ]
 [21.864668  ]
 [ 3.064289  ]
 [ 3.7571936 ]
 [ 3.17069   ]
 [ 9.862144  ]
 [19.643038  ]
 [14.857851  ]
 [11.211754  ]
 [ 4.9959636 ]
 [ 5.5160737 ]
 [ 3.4139888 ]
 [18.70128   ]
 [16.25754   ]
 [ 2.9621103 ]
 [ 3.3540416 ]
 [11.431025  ]
 [ 3.0251005 ]
 [ 3.130004  ]
 [ 3.176392  ]
 [17.754498  ]
 [21.960028  ]
 [ 5.4951367 ]
 [ 4.365597  ]
 [ 3.3093162 ]
 [16.46972   ]
 [ 3.6105635 ]
 [17.100222  ]
 [19.158163  ]
 [16.85974   ]
 [15.12525   ]
 [ 9.774372  ]
 [12.4633045 ]
 [11.707382  ]
 [ 2.897902  ]
 [16.38835   ]
 [11.009008  ]
 [ 9.249864  ]
 [ 3.2790575 ]
 [11.255451  ]
 [ 3.8257434 ]
 [ 3.453422  ]
 [19.404507  ]
 [20.438803  ]
 [19.90909   ]
 [14.804998  ]
 [ 5.916246  ]
 [15.171864  ]
 [ 2.9554207 ]
 [ 3.1474328 ]
 [ 3.2263646 ]
 [ 8.101688  ]
 [19.937624  ]
 [ 3.6343462 ]
 [14.4785385 ]
 [11.656517  ]
 [20.868189  ]
 [ 3.1583529 ]
 [11.276501  ]
 [ 3.2930408 ]
 [ 9.58861   ]
 [ 8.84477   ]
 [12.287172  ]
 [11.588423  ]
 [ 3.06603   ]
 [16.596035  ]
 [18.840513  ]
 [ 6.4279923 ]
 [ 8.818352  ]
 [22.432869  ]
 [15.932718  ]
 [19.535225  ]
 [ 4.299856  ]
 [15.395939  ]
 [12.338114  ]
 [19.32735   ]
 [ 3.2418566 ]
 [10.531847  ]
 [ 2.9621103 ]
 [ 5.6971354 ]
 [18.494356  ]
 [ 2.5299132 ]
 [ 6.416588  ]
 [ 3.3663177 ]
 [ 2.884944  ]
 [ 3.2724547 ]
 [11.412771  ]
 [11.178768  ]
 [14.546072  ]
 [10.326164  ]
 [ 3.2475085 ]
 [10.795597  ]
 [16.89774   ]
 [11.161655  ]
 [ 9.239397  ]
 [15.518106  ]
 [12.477491  ]
 [12.841169  ]
 [ 9.623323  ]
 [20.42513   ]
 [10.953506  ]
 [12.305555  ]
 [16.629719  ]
 [ 4.4478126 ]
 [ 4.038054  ]
 [20.596582  ]
 [ 2.2401342 ]
 [16.34124   ]
 [ 2.7778983 ]
 [ 2.8077688 ]
 [ 4.1184397 ]
 [19.645117  ]
 [ 3.7824306 ]
 [ 8.121658  ]
 [15.864117  ]
 [ 2.89056   ]
 [ 5.577874  ]
 [11.542656  ]
 [ 2.393704  ]
 [17.691698  ]
 [ 3.2084084 ]
 [ 3.1213746 ]
 [19.799086  ]
 [11.548052  ]
 [ 2.164174  ]
 [20.792286  ]
 [ 2.9931102 ]
 [17.724283  ]
 [12.125843  ]
 [ 3.3053145 ]
 [ 4.0343404 ]
 [19.765059  ]
 [18.858925  ]
 [20.724749  ]
 [ 4.255684  ]
 [17.471182  ]
 [15.914377  ]
 [12.7314    ]
 [15.572889  ]
 [18.72914   ]
 [ 4.819777  ]
 [20.501783  ]
 [ 3.9504895 ]
 [15.3877125 ]
 [ 4.1458797 ]
 [17.763407  ]
 [19.821697  ]
 [ 2.8968797 ]
 [21.668129  ]
 [11.250435  ]
 [10.434818  ]
 [ 3.2607553 ]
 [ 2.8680253 ]
 [20.089588  ]
 [13.644594  ]
 [ 3.1051435 ]
 [19.634464  ]
 [19.62646   ]
 [12.695696  ]
 [12.4291115 ]
 [10.4588375 ]
 [11.35149   ]
 [17.943188  ]
 [21.632313  ]
 [18.421698  ]
 [20.246264  ]
 [16.809565  ]
 [14.915197  ]
 [ 8.15456   ]
 [21.536154  ]
 [ 3.5103064 ]
 [12.593681  ]
 [15.1671505 ]
 [ 2.9022393 ]
 [11.239687  ]
 [ 3.9009893 ]
 [ 5.6785264 ]
 [19.294405  ]
 [11.038286  ]
 [12.394457  ]
 [ 2.6692479 ]
 [ 6.7272644 ]
 [17.212128  ]
 [ 2.6075487 ]
 [20.285622  ]
 [11.829912  ]
 [18.713497  ]
 [ 4.5607886 ]
 [ 3.2526557 ]
 [19.178461  ]
 [15.537905  ]]

<bound method NDFrame.head of              0
0    20.690815
1     2.471741
2     3.324587
3     3.386454
4    12.203621
..         ...
422  18.713497
423   4.560789
424   3.252656
425  19.178461
426  15.537905

[427 rows x 1 columns]>

In [28]:
pd.DataFrame(X_test).head()

# X_test, y_test

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,-0.951057,5.000000e-01,2.588190e-01,1.0,0.669131,0.309017,0.937752,-7.431448e-01,0.866025,660.0,30.0,0.347305,-0.900969,2.00,0.965926,1.0,4.0,-0.433884
1,-0.743145,1.224647e-16,1.000000e+00,0.0,0.994522,0.669131,0.848644,-1.045285e-01,-1.000000,714.0,117.0,0.528964,-0.222521,2.99,0.000000,3.0,0.0,0.974928
2,-0.669131,-5.000000e-01,-7.071068e-01,0.0,0.406737,-0.743145,0.651372,-9.135455e-01,-0.866025,1686.0,160.0,-0.758758,0.623490,2.99,-0.707107,0.0,0.0,0.781831
3,0.104528,-2.449294e-16,-8.660254e-01,0.0,-0.743145,-0.994522,0.651372,6.691306e-01,1.000000,1123.0,133.0,-0.758758,0.623490,2.29,-0.500000,0.0,0.0,0.781831
4,0.309017,5.000000e-01,-1.836970e-16,2.0,1.000000,-0.951057,-0.897805,2.832769e-16,-0.866025,1363.0,150.0,-0.440394,0.623490,1.49,-1.000000,3.0,0.0,-0.781831

In [29]:
code_to_item={}
for pair in itemID_Dict:
    code_to_item[itemID_Dict[pair][0]]=itemID_Dict[pair][1]
    
print(code_to_item)

{1: 'Double Cheeseburger', 2: 'Double Bacon Cheeseburger', 3: 'Bacon Cheeseburger', 4: 'Cheeseburger', 5: 'Double Hamburger', 6: 'Hamburger', 7: 'Veggie Burger', 8: 'Onion Rings', 9: 'Small Fries', 10: 'Regular Fries', 11: 'Large Fries', 12: 'Small Curly Fries', 13: 'Regular Curly Fries', 14: 'Large Curly Fries', 15: 'Small Drink', 16: 'Regular Drink', 17: 'Large Drink', 18: 'Small Shake', 19: 'Regular Shake', 20: 'Large Shake', 21: 'Coffee'}

In [30]:
results=pd.DataFrame(y_test)
results["prediction"]=(pred_train[:,0].astype(float)).tolist()

results.rename(columns={0:"true"}, inplace=True)


results["true_item_code"]=None
results["prediction_item_code"]=None
results["true_item_name"]=None
results["prediction_item_name"]=None

for i, row in results.iterrows():
    v1= min(round(row["true"]),len(code_to_item))
    v2= min(round(row["prediction"]),len(code_to_item))

    results.at[i, "true_item_code"] = v1
    results.at[i, "prediction_item_code"] = v2 
    
    results.at[i, "true_item_name"] = code_to_item[v1]
    results.at[i, "prediction_item_name"] = code_to_item[v2]

In [31]:
results.head(25)

,true,prediction,true_item_code,prediction_item_code,true_item_name,prediction_item_name
0,21.0,20.690815,21,21,Coffee,Coffee
1,5.0,2.471741,5,2,Double Hamburger,Double Bacon Cheeseburger
2,5.0,3.324587,5,3,Double Hamburger,Bacon Cheeseburger
3,4.0,3.386454,4,3,Cheeseburger,Bacon Cheeseburger
4,9.0,12.203621,9,12,Small Fries,Small Curly Fries
5,15.0,16.574598,15,17,Small Drink,Large Drink
6,2.0,2.391890,2,2,Double Bacon Cheeseburger,Double Bacon Cheeseburger
7,14.0,12.800426,14,13,Large Curly Fries,Regular Curly Fries
8,19.0,20.410673,19,20,Regular Shake,Large Shake
9,21.0,19.437819,21,19,Coffee,Regular Shake
10,2.0,2.192389,2,2,Double Bacon Cheeseburger,Double Bacon Cheeseburger
11,21.0,21.206732,21,21,Coffee,Coffee
12,8.0,18.979990,8,19,Onion Rings,Regular Shake
13,17.0,16.378973,17,16,Large Drink,Regular Drink
14,14.0,7.813200,14,8,Large Curly Fries,Onion Rings
15,14.0,12.977795,14,13,Large Curly Fries,Regular Curly Fries
16,21.0,20.545071,21,21,Coffee,Coffee
17,9.0,8.881666,9,9,Small Fries,Small Fries
18,8.0,17.089832,8,17,Onion Rings,Large Drink
19,11.0,13.019518,11,13,Large Fries,Regular Curly Fries
20,5.0,3.316655,5,3,Double Hamburger,Bacon Cheeseburger
21,7.0,5.317806,7,5,Veggie Burger,Double Hamburger
22,21.0,16.971115,21,17,Coffee,Large Drink
23,15.0,17.009689,15,17,Small Drink,Large Drink
24,15.0,16.300539,15,16,Small Drink,Regular Drink

In [32]:
results.shape

(427, 6)